[2017-04-27 12:11] brahmafear opened #1 "Flash example"
Thanks for your work on this.  Have been testing on two bulbs for a few days now (with HomeAssistant).  All working except I can't seem to get flash config working.  Do you have an example config for this that I can test?

Thanks.

[2017-04-27 23:56] stelgenhof opened #2 "Add favicon"
Add a favicon to the HTML UI, so you can tell which tab the AiLight web GUI is on in a browser with lots of tabs open.

[2017-04-27 23:57] stelgenhof commented on #1
Ah, yes. Flashing is definitely possible however I admit not part of the instructions yet. Let me add that as soon as possible.

[2017-04-28 02:02] #2 closed, assigned to stelgenhof

[2017-04-29 02:34] stelgenhof commented on #1
Created a wiki page how you can use the Flash feature: [Flashing the Light](https://github.com/stelgenhof/AiLight/wiki/Flashing-the-Light)

[2017-04-29 02:34] #1 closed, assigned to stelgenhof

[2017-05-01 22:37] brahmafear opened #4 "OTA doesn't seem to be working."
Successfully flashed two bulbs using wired connection.  Bulbs are operating.

Trying to upload via OTA in Atom with `pio run -t upload -e dev-ota  --upload-port <IP>` but getting a failure for no response:

[code]

[2017-05-01 22:52] brahmafear opened #5 "MQTT settings not saved"
Changes to MQTT topics made via web interface are not preserved across device reboots.

[2017-05-01 23:19] stelgenhof commented on #4
There could be various reasons for this. One of them is that the if the OTA port in the firmware (set in config.h) differs from the one in the platformio.ini file. I experienced that myself a couple of times when testing the firmware :)

OTA updates are sometimes not immediately successful. Have you tried it again? Can you try also the 'prod-ota' environment?

[2017-05-01 23:21] stelgenhof commented on #5
I haven't experienced this myself, to be honest. Let me test that again,

[2017-05-01 23:26] stelgenhof commented on #5
Just tested it myself and could change the MQTT successfully via the web interface. I restarted the device and also unplugged it from the power and restarted it. The changes were preserved.

Which version of the firmware are you using? I'm using the latest build (master).

[2017-05-01 23:41] brahmafear commented on #4
Tried on two bulbs - multiple times per bulb.  Since OTA auth is successful, I don't think it is the port - but I checked: both platform.io and config.h set to port 8266.  Same result on prod-ota.

[2017-05-01 23:44] brahmafear commented on #5
Hmm.  This is from github pull from middle of last week - right before you switched to async MQTT.

Steps:
Plugged in / powered on bulb.
Opened web interface.
Hard refreshed page in browser.
Clicked Settings.
Changed state and command topics.
Clicked save.
Unplugged light.
Plugged in / powered on bulb.
Opened web interface.
Hard refreshed page in browser.
Clicked Settings.
Old topics in place.

Co

[2017-05-01 23:45] stelgenhof commented on #4
Just tried a few times on a different device. Not all tries were successful but could upload it perfectly using the 'dev-ota' environment:

[code]

[2017-05-01 23:52] stelgenhof commented on #5
Hmm, strange. My initial code (not on Github) had some issues not preserving the data in EEPROM but that was a while ago. I tested the EEPROM features more than a dozen of times :)

Could you perhaps try the latest master branch from Github and see if that makes a difference?

[2017-05-02 00:35] brahmafear commented on #4
OK.  Will keep trying.  There was another person on the HomeAssistant gitter channel who reported problems with OTA as well.  Perhaps she/he will see this issue and comment.

[2017-05-02 01:17] stelgenhof commented on #4
Ok. You mean some people have reported issues with OTA in general, or with this AiLight firmware?

[2017-05-03 23:35] brahmafear commented on #4
Sorry for lateness of response:  HomeAssistant gitter channel reported problems with this firmware and OTA updates.

I just tested with very latest pull from git.  Serial upload works great.  Firmware works great.  Still cannot get OTA working.  Here is dump from PIO console (I edited the auth pwd):

`pio run --target upload -e dev-ota --upload-port 192.168.9.244`

Bunch of compiling logs....

[co

[2017-05-03 23:48] stelgenhof commented on #4
Would you mind trying the 'prod-ota' environment? The size of the 'prod' firmware build is somewhat smaller. I'm suspicious that the firmware size is getting too big for the ESP8266 in this light, which is only 1Mb...

Maybe I need to stop adding more features, haha

[2017-05-04 00:55] brahmafear commented on #4
Seems to be same result:
`pio run --target upload -e prod-ota --upload-port 192.168.9.244`

[code]

[2017-05-04 01:30] stelgenhof commented on #4
I'm having mixed results myself as well. I thought it was the sketch size, however after reducing some code (testing) I got same results. Need further exploration unfortunately...

[2017-05-04 02:01] stelgenhof commented on #4
Got much better results now!
Can you comment out the 'extra_script' line in your platformio.ini file?

I noticed when not using this, OTA works perfectly. Somehow the build script for the UI is interfering with the OTA upload. Some more investigation is needed. And probably another way to build the UI automatically.

[2017-05-04 12:53] brahmafear commented on #4
Hmm.  Commented out the "extra_script" line in both the dev-ota and prod-ota environments.  Saved.  Re-ran same pio command above against 2 bulbs.  Same result.  Auth successful.  Times out waiting for device.  Will keep experimenting.

[2017-05-04 13:24] brahmafear commented on #4
More info.  ESP module is crashing as soon as OTA starts.  Managed to catch this from serial port while attempting an OTA upgrade:
[code]

[2017-05-04 13:34] brahmafear opened #6 "Gamma setting"
First, gamma correction is **awesome**.  Loving it.

On/Off state does not seem to be preserved across device reboots.  Always switches to Off.

Thanks.

[2017-05-04 13:34] brahmafear commented on #5
Seems to be resolved in 0.3.0.  Closing.  Thanks.

[2017-05-04 13:34] #5 closed, assigned to nobody

[2017-05-04 22:02] stelgenhof commented on #6
Thanks! Do you mean the state of the gamma correction is not preserved?

[2017-05-04 23:25] brahmafear commented on #6
Correct.  After firmware flash, gamma switch is off.  Via web interface, I turn gamma on.  Reboot device.  Gamma switch is back to off.  Expected behavior would be for gamma correction switch to be restored to previous state.

Thanks.

[2017-05-04 23:44] stelgenhof commented on #6
Yes, noticed that myself now as well. I'll have a look into that.

[2017-05-04 23:49] stelgenhof commented on #4
To check if it was the AiLight or just the OTA part, I started from the beginning and uploaded the BasicOTA sketch. I get a similar response:

[code]
Funny thing is right after a code change and compilation, the upload via OTA works fine. However, if do it again (without any code change or whatsoever), I get the "No Response" message also.

Behaviour almost seems as if the binary code hasn't chang

[2017-05-05 01:15] stelgenhof commented on #6
Fixed it in the latest master branch. Can you check again? Cheers!

[2017-05-05 01:35] stelgenhof commented on #4
Did some more experimenting. For the last couple of hours all my OTA uploads have been successful.
I applied various changes:
- changing the code
- reboots
- power off
- different device
- different OTA password / host

Strangely all of them were successful and didn't get the "No answer" message.

The only time I got the "No Answer" message was when I tried to do an OTA upload quickly after anothe

[2017-05-05 12:55] stelgenhof commented on #4
After some more experimenting I have made some minor changes to the OTA part of the firmware. Since then all my OTA uploads were successful. Would you mind checking again the latest code?

[2017-05-05 13:25] brahmafear commented on #4
Working!  Going to serial flash all my previous bulbs to make sure it works there too.

_Thanks_ !

[2017-05-08 23:43] #4 closed, assigned to stelgenhof

[2017-05-08 23:43] #6 closed, assigned to stelgenhof

[2017-05-09 02:29] brahmafear opened #7 "OTA to latest version seems to have corrupted saved settings"
Head's up:  Upgrading from recent test builds to current seems to cause saved setting corruption.  Did the config_t structure change?

After upgrading, bulb boots but cannot control LEDs.  Web UI doesn't show bulb info.  (See attached.)  Factory Reset does not clear settings.

I hacked together the example EEPROM clear example with the BasicOTA example to get an OTA-able sketch that would wipe sav

[2017-05-09 02:33] stelgenhof commented on #7
The config_t struct has indeed been changed, but I haven't experienced any corruption while testing.

[2017-05-09 02:42] brahmafear commented on #7
Strange.  Watching serial console after upgrade, I saw successful connection to wifi, successful login to MQTT, successful subscribe to topic, then post to "@@@@@@@@@@@@@@@@@@@@@@@@" with garbage.

[2017-05-09 02:56] stelgenhof commented on #7
If the 'About' page shows no data, usually means the device is not ready yet (browser hasn't established connection with the device). If the device is ready then a refresh of your browser will solve that (Area for improvement :) )

Tested it again with another unit and had no issues at all. The garbage is the publish message to the new Last Will and Testament topic. Since it hasn't been configured

[2017-05-09 03:02] brahmafear commented on #7
Don't think this was a browser refresh issue.  Waited for several minutes after ESP power on.  Also, Shift-refreshed page multiple times - as well as loaded in a new browser that hadn't accessed that bulb before.

When About page was missing data, settings page didn't show any of the previously configured settings.  Light grey text in box instead describing each field.  I'll try to get a screensho

[2017-05-09 03:04] brahmafear commented on #7
<img width="651" alt="screen shot 2017-05-08 at 11 04 30 pm" src="https://cloud.githubusercontent.com/assets/5796940/25833935/b9407ff4-3442-11e7-9134-f107a0a61e4a.png">

[2017-05-09 03:07] stelgenhof commented on #7
Yes, it's expected behavior :) the browser communicates with the firmware via WebSockets. If there is no connection established, then all information on the UI is not showing (All pages).

At the moment the firmware doesn't re-establish automatically the connection with the browser, if an update has been flashed.

[2017-05-09 03:11] brahmafear commented on #7
OK.  But if waiting / refreshing doesn't correct the issue??
So far, the *only* way I've been able to restore functionality is to wipe eeprom.

I've got three more bulbs on previous firmware (github version from May 5th).  Let me know if there is anything you'd like me to test while I upgrade them.  If not, I'll eeprom wipe, upgrade, and re-enter settings.

Thanks.

[2017-05-09 03:17] stelgenhof commented on #7
I'm testing now as well. Upgrading from 0.2.0 to 0.3.0. I don't think an EEPROM wipe is needed.

[2017-05-09 03:23] brahmafear commented on #7
Hmm.  Maybe due to my bulbs were on a more recent version (May5th) instead of 0.2.0.

[2017-05-09 03:50] stelgenhof commented on #7
That might be very well possible as there have been quite some commits since 0.2.0.
I did a clean upgrade from 0.2.0 to 0.3.0 and didn't get any corruption issues nor the UI showing blank data.

[2017-05-09 13:32] brahmafear commented on #7
All my bulbs updated now using eeprom wipe.  I'll mark issue to be closed as it seems to only be happening to me.  Thanks again.

[2017-05-09 13:32] #7 closed, assigned to nobody

[2017-05-09 13:37] stelgenhof commented on #7
Thanks! Don't hesitate to open an issue if you experience something strange again :)

[2017-05-09 13:55] brahmafear commented on #7
Will do.  Are you open to code PRs?  I might try to add xy support so HomeAssistant color profiles can be used.

[2017-05-09 14:05] stelgenhof commented on #7
Of course! Happy to get PRs... XY support would be nice indeed.

[2017-05-31 12:34] stelgenhof opened #8 "[Violation] Added non-passive event listener to a scroll-blocking 'touchmove' event."
The UI in Chrome (58.0.3029.110 (64-bit)) generates the following error message:

`[Violation] Added non-passive event listener to a scroll-blocking 'touchmove' event. Consider marking event handler as 'passive' to make the page more responsive.`

As mentioned in this issue https://github.com/leongersen/noUiSlider/issues/785,

[2017-06-04 06:37] #8 closed, assigned to stelgenhof

[2017-06-10 20:07] delian7 opened #10 "Undefined Variable Errors Save Function"
Tried making a PR, but don't have permission.

In line 449 in app.js, `var s` should be initialized as an empty object `var s ={}, msg = {};`. Otherwise an error ensues preventing saving any user settings.

![undefined-bug](https://user-images.githubusercontent.com/4530694/27005946-c5ed6ed8-4ddd-11e7-8c1d-c80cd7cdb8d1.png)

[2017-06-11 00:33] stelgenhof commented on #10
Thanks for catching this! I can confirm I also get this error message. Perhaps my JavaScript knowledge is getting rusty; I thought `var s, msg = {};` would initialize both variables. :(

Already checked that your suggestions works. I'll change it asap.

As for the PR, did you create a fork and from there created a PR?

[2017-06-11 01:14] delian7 commented on #10
Ahh I didn't fork: I tried cloning the repo in sourcetree, made a branch, and tried to push that branch to do a PR. That makes sense.

[2017-06-11 07:38] #10 closed, assigned to stelgenhof

[2017-06-26 06:00] robbintt opened #11 "Cannot accept empty wifi password?"
Hi, it looks like there is no way to use a wifi network that has no password. I believe it is due to the validation in the "settings" template.

I am not sure if I can give a password-less network in the firmware, I will try.

[2017-06-26 06:37] robbintt commented on #11
I have tested adding a wifi network to the firmware with no password - so far I cannot access the hostname over HTTP or see mqtt client, although the mqtt may just not be configured correctly in Home Automation, as I have no reference to check against yet.

[2017-06-26 08:11] nickrout commented on #11
I am not sure this is a real world problem.

[2017-06-26 08:43] robbintt commented on #11
An important part of software is recognizing that your use cases are not the only ones.

[2017-06-26 11:40] stelgenhof commented on #11
Although not recommended to use a WiFi network without a password, it still is a valid scenario.

I think the code changes will be minimal to allow for WiFi without passwords. Let me have a look to make the necessary changes.

[2017-06-26 23:56] stelgenhof commented on #11
@robbintt I have a made code change so that WiFi networks without a password work as well. You can now leave the password field blank, without getting a validation message.

I committed in the main master branch, so if you could try it out that would be great!

[2017-06-30 00:07] stelgenhof commented on #11
Closing this as it has been addressed in release v0.4.1.

[2017-06-30 00:07] #11 closed, assigned to stelgenhof

[2017-07-01 22:27] robbintt opened #12 "Firmware Uploads - No change to bulb"
I'm having an interesting issue with the AiLight bulb. I am able to successfully upload firmware to the bulb according to PlatformIO but it does not change the bulb's behavior.

I have deleted my AiLight repository and the AiLight github repository and rebuilt everything from scratch to no avail.

I am getting a blue light with intermittent brief flashing when turning on the light bulb, regardless

[2017-07-01 23:51] brahmafear commented on #12
I've also seen this issue. I resolved by uploading the eeprom clear sketch
from the eeprom library. Run that to zero out eeprom. Then re-upload the
AiLight firmware.

Hope this helps.

On Sat, Jul 1, 2017 at 6:27 PM Trent Robbins <notifications@github.com>
wrote:

[2017-07-02 00:32] stelgenhof commented on #12
Hmm, strange. I've flashed the firmware to a dozen different bulbs but never seen this to be honest.
@robbintt Would you mind sharing the exact steps you took, so I can have a better idea?

Thanks! Sacha

[2017-07-02 07:17] robbintt commented on #12
Thanks for the replies - I'll report back as soon as I can make some time.

[2017-07-19 12:13] stelgenhof opened #13 "Lost the ability to interact with the device via the web UI after flashing"
I've run into a problem with the web UI. After flashing a recent upgrade, I seem to have lost the ability to interact with the device via the web UI. None of the on-device parameters show up in the UI (settings or about pages). I've tried reflashing the device multiple times, but alas no luck. I've cleared the browser cache and tried multiple browsers (Firefox and Chrome). Even my Android Chrome i

[2017-07-19 12:13] stelgenhof commented on #12
@robbintt Any updates on this? Is it something similar to issue #13?

[2017-07-19 12:15] stelgenhof commented on #13
Can confirm this one. It happens when a new setting (of type 'char') is introduced but not yet initialized properly. Basically, uninitialized it contains garbage bytes causing the WebSockets interface to trip over.

[2017-07-20 23:12] #13 closed, assigned to stelgenhof

[2017-07-31 12:16] stelgenhof opened #14 "Upon saving Settings user is returned to Lights tab"
When settings in the Web UI are saved, the user is directed to the Lights tab. After saving, the user should stay on Settings tab so that he/she can review the newly updated settings.

[2017-08-04 11:12] duelago opened #15 "Domoticz support in the future?"
I really like this project. I'm up and running and everything works as advertised.
I'm new to MQTT and my backend is Domoticz. Any plans to support Domoticz in a future release?

I really don't have the skills to implement this support myself.

Keep up the good work :)

 /David

[2017-08-04 12:34] stelgenhof commented on #15
Thanks for the kind words! Domoticz wasn't really on the radar but definitely can have a look into it.

[2017-08-07 06:13] stelgenhof commented on #15
I took some time to check Domoticz out and the MQTT integration is pretty simple. I have now a sandbox Domoticz and tried to set up a light/switch but coming from Home Assistant, the entire setup feels a bit strange.

I managed successfully to publish an MQTT payload to Domoticz, but had a hard time figuring out how to integrate with an RGBW light.

Do you have any pointers how I can do that? Gues

[2017-08-08 11:23] duelago commented on #15
Nice to hear that you are on the case! I'm afraid I'm more a user than a developer, so I'm not sure how I can help you. Maybe you can get a hint by looking at the implementation of other lamps in Domoticz? I'm using MiLights and they work just fine, but they are not talking MQTT.

https://www.domoticz.com/wiki/Limitless/AppLamp_LED

[2017-08-09 05:07] stelgenhof commented on #15
After fiddling around a bit more in Domoticz, I got it working. Meaning: I could send and receive commands via MQTT. The way Domoticz handles this, is quite different from what I'm used to.

Let me see how this could be integrated in the AiLight firmware.

[2017-08-29 23:53] stelgenhof commented on #12
Closing this issue as I believe it has been resolved (See issue #13). Should it occur again, please don't hesitate to create a new issue.

[2017-08-29 23:53] #12 closed, assigned to nobody

[2017-09-09 20:42] bofh69 opened #16 "Use an input type='color' instead of sliders?"
Something like:
[code]

[code]
If the input event sends the message, perhaps an extra parameter should be sent as well so the
config isn't saved in that case (it would wear down the EEPROM much faster).

A drawback is that the lamp doesn't match the RGB colour of the screen. Some colour correction formula is needed to make this really good.

[2017-09-09 22:37] fonix232 opened #17 "Add support for DIY devices"
It would be great if AiLight supported homemade solutions too - since they are usually cheaper than an actual bulb, and are easily put together (say, a Wemos D1 Mini @ 2.5$ and an WS2812B LED ring for 3$).

The platform is technically already supported, but it isn't too configurable regarding the lights - I understand that the main goal is to support the official LED bulbs, but it would be awesome

[2017-09-10 02:11] stelgenhof commented on #17
Thank you for the suggestion. I agree that would be great however this firmware was specifically made for LED bulbs with the MY9291 LED driver.

Wouldn't it be better idea to use other firmwares like Espurna or Tasmota?

[2017-09-10 02:15] stelgenhof commented on #16
Thanks for the suggestion. Something similar I had in mind as well to do, but haven't gotten around it yet.

[2017-09-10 15:21] fonix232 commented on #17
I did look at the other firmwares, but so far AiLight seems to be the closest to the project I plan.

The web UI in itself is a big plus, and the developed features too. ESPurna might work out, but as I saw it is more oriented at smart switches, not RGB LED lights.

[2017-09-10 15:48] stelgenhof commented on #17
Curious about your project, would you mind to share?

The main reason for me to create this UI is because I wanted to have a UI that is very user friendly, easy to maintain and of course good looking :) I believe the packaging is as much important (or even more) as the present itself.

ESPurna has support for a couple of different smart RGBW LED lights, not only smart switches. Recently there have

[2017-09-10 16:13] fonix232 commented on #17
My project is basically making multiple Wemos D1 Mini controlled lights, possibly even having some manufactured - since the WS2812 LED rings are quite cheap (although they do not provide white LEDs), and around 3$ mass manufactured, one could have awesome WiFi-enabled LED rings around.

[2017-09-12 20:18] bofh69 opened #18 "The REST API examples doesn't work"
With curl 7.47.0, the REST API examples with method PATCH  don't work. A Content-Type header is needed as well:
-H 'Content-Type: application/json'

[2017-09-13 13:09] stelgenhof commented on #18
Thanks for catching this! Indeed the Content-Type header is required when using the PATCH method. I will update the example as soon as possible.

[2017-09-13 13:23] stelgenhof commented on #18
Example updated!

[2017-09-13 13:23] #18 closed, assigned to stelgenhof

[2017-09-13 13:31] stelgenhof commented on #16
After having a look at your example, the input type='color' is not support by all browsers. Specifically
, iOS Safari has no support for it. Personally I use my iPhone a lot controlling my lights, so this wouldn't work in that occasion.

[2017-09-13 16:33] bofh69 commented on #16
I noticed that now as well. I added a polyfill for it, but the one I use (spectrum) does not update its colour when the value is updated and since it comes from a CDN it doesn't work before the lamp is added to an AP.

[2017-09-13 23:14] stelgenhof commented on #16
In the beginning when creating the UI, I was also using external (CDN) libraries. That indeed cause the UI not to work if it is in AP mode. Therefor I decided to make everything embedded and use plain vanilla JS/CSS.

[2017-09-14 14:47] stelgenhof commented on #17
Sounds like a nice project. Have you considered then making your own PCB? With the ESP8266 chip?

Having thought about your suggestion some more, and although I think it could work, it would deviate quite far from the goal of this firmware. Actually Espurna supports WS2812 type LED's so that could be a good alternative. I think if adding support for other type of LED's, this firmware will be looki

[2017-09-18 12:56] helderpe opened #19 "Support for color temperature"
Ideally, these bulbs would adjust the rgb led and the white led to accurately reproduce white color temperatures. For example, I use the Yeelight RGBW bulbs with homeassistant. When selecting a color temperature, the bulb changes it's leds to the correct colors. When I do this in homeassistant with the AI-Light firmware, if I have the White LED set to maximum, it's hard to see any change in the co

[2017-09-18 13:45] stelgenhof commented on #19
Currently when using the color temperature feature of AiLight, it only sets the RGB LED's of the Ai-Thinker light bulb. The White LED's operate independently from the RGB LED's.

I am familiar with that source you are referring to and have done quite some research about color temperature. As far as I am aware the current way it is implemented, works quite fine. Are you saying that the White LED's

[2017-09-18 13:54] helderpe commented on #19
From what I understand, I think that the white LED should also be adjusted to produce the right color temperature. I'll take a shot at this (not really sure when I'll be able to do) and I'll let you know.

Btw, I guess that the white LEDs are in the 4000k range, am I right?

[2017-09-18 13:59] helderpe commented on #19
Some additional information might be found here: http://blog.saikoled.com/post/44677718712/how-to-convert-from-hsi-to-rgb-white

[2017-09-18 14:35] stelgenhof commented on #19
Thanks for having a go at this. Would be cool!
Don't know if the White LED's are in the 4000K range, unfortunately.

[2017-09-18 16:18] helderpe commented on #19
I did some additional research, and I found a simple rgb to rgbw conversion formula (derived from http://www.mirlab.org/conference_papers/International_Conference/ICASSP%202014/papers/p1214-lee.pdf):

M = max(Ri,Gi,Bi)
m = min(Ri,Gi,Bi)

Wo = if (m/M < 0.5) use ( (m*M) / (M-m) ) else M
Q = 255
K = (Wo + M) / m
Ro = floor( [ ( K * Ri ) - Wo ] / Q )
Go = floor( [ ( K * Gi ) - Wo ] / Q )
Bo = floor(

[2017-09-19 11:34] fonix232 commented on #17
Custom PCB is planned, yes. My ultimate goal is to create a company around this, with a fully custom ESP8266/ESP32 based firmware that is open source and community-driven, with various products based on it - both a hacked-oriented lineup where extra pins are exposed, and a "final", customer-oriented product that "just works".

[2017-09-19 12:56] stelgenhof commented on #17
Myself also planning on making some custom PCB's, just haven't got the time to do it yet.
Might be challenging to make good and unique product, as there already so many ideas/hacks based on the ESP8266 out there.

[2017-09-19 13:07] fonix232 commented on #17
Lots of hacks and ideas, yes, but not much that are well organized and not just a bunch of hacky code that works or not... A good product that actually works well is hard to achieve but I see some sales potential, especially if we can hit a good price/value ratio. Say, a 15$ LED light bulb that works well and can emulate even a Philips Hue lamp.

[2017-09-19 14:25] stelgenhof commented on #17
The primary reason for creating this AiLight firmware was to have a Web UI that is very user friendly and intuitive. A lot of people focus on the hardware/firmware part in their projects and leave the UX/UI at the last. UX/UI is crucial for the success of a product.

I think AiLight already made a step in the right direction, although I think it can still be improved much more :)

[2017-09-19 21:59] helderpe commented on #19
Ok, so I modified the code, you can find it here: https://pastebin.com/jvvnaJhH

I basically call this function first thing on setRGBW();

The code compiles, and I was able to do an OTA, but it never finished the OTA process and I had to reflash the bulb manually with a USB programmer. Any thoughts?

[2017-09-19 23:53] stelgenhof commented on #19
Looking good!

OTA is known to be finicky sometimes. Have you tried again? Also were you able to upload via OTA before the code change?

[2017-09-20 09:52] helderpe commented on #19
It was the first time I did an OTA with this firmware. It basically got stuck, the bulb didn't connect to Wifi after the failed attempt (the firmware was fully uploaded to the bulb, but for some reason it didn't finished writing the firmware).

[2017-09-20 19:46] ageorgios opened #20 "homebridge plugin AiLight"
Are there any plans for a homebridge plugin?

[2017-09-20 23:23] stelgenhof commented on #19
Have you tried again using OTA? Are you sure the firmware wasn't written successfully?

I would first try to upload via the USB/Serial Adapter to ensure the firmware works properly. After that you can try OTA.

[2017-09-20 23:27] stelgenhof commented on #20
Not sure what you mean by a 'Homebridge plugin', but you can use Homebridge together with Home Assistant using the homebridge-homeassistant plugin.

I have used sometime ago, and was perfectly able to use iOS' Siri to control my light :)

[2017-09-20 23:30] badgerhome commented on #20
I use homeassistant-homebridge with AiLight MQTT bulbs, brightness and colours both work too!

[2017-09-21 05:13] ageorgios commented on #20
in case you don't use homeassistant there are plugins for specific devices, like homebridge-aqara (for xiaomi devices) homebridge-yeelight (for xiaomi bulbs) etc.

[2017-09-21 09:42] helderpe commented on #19
Well, to upload the firmware via USB/Serial Adapter I had to always solder some cables to the lamp, Finally, yesterday I was able to 3D print a fixture that will make life easier. However, I'm still waiting for the pogo pins :(

[2017-09-21 10:33] stelgenhof commented on #19
Yes, the very first time you need to upload firmware via a USB/UART adapter. Same as you, I made a jig a while ago  using pogo pins to avoid any soldering. If you're interested, you can find some more details here: https://github.com/stelgenhof/AiLight/wiki/Connection

I've made about a dozen so far for others in the community :)

[2017-09-21 10:35] stelgenhof commented on #20
Ah, I see what you mean. Unfortunately I haven't really looked at that possibility yet :)

[2017-09-25 12:07] stelgenhof commented on #16
@bofh69 Just wanted to check if you still want to keep this issue/request? Otherwise, I will close it. Thanks!

[2017-09-25 12:12] stelgenhof opened #21 "Unable to connect to the REST API using NodeJS"
Unable to make a REST API call using NodeJS with the 'http' (or 'request') module. The REST API returns a 400 status code ("API-Key is missing") even though the appropriate "API-Key" header is sent.

The NodeJS http module converts HTTP header keys to lowercase causing the AiLight authentication to fail. HTTP headers are in fact  case-insensitive. See: http://www.w3.org/Protocols/rfc2616/rfc2616-s

[2017-09-30 11:19] stelgenhof commented on #19
@helderpe I have tried your code and it caused an Exception (WDT Reset) on my AiThinker Light. Have you tried your code yourself as well? If so, do you see any significant difference?

After reading the paper and sources you've provided, I am still not sure if this is the common practice. Currently the White LED's in AiLight firmware are controlled independently from the RGB one's.

Based on my ow

[2017-09-30 12:22] stelgenhof commented on #21
The function call .hasHeader() from the ESPAsyncWebServer library was thought to be case sensitive. After investigation and updating this library, it seems this function does perform a proper .equalsIgnoreCase.

Further testing showed that it works as expected.

[2017-09-30 12:22] #21 closed, assigned to stelgenhof

[2017-09-30 21:33] helderpe commented on #19
Hi @stelgenhof. I was unable to do any further tests, but that might explain why I was unable to complete the OTA upgrade.
I guess the only way to have the color temperature that I was expecting is probably by having two sets of white LEDs, one for really warm temperatures, and other for the opposite (I think the Sonoff B1 has this kind of configuration). Thanks for the help.

[2017-10-01 00:13] stelgenhof commented on #19
@helderpe Thanks! Would you still like to proceed with this? As said, I am not sure what is the common practice.

I'm more than happy to apply this change (and sort out the exception) if it is indeed better to include the White LED's as part of the colour temperature setting.

[2017-10-01 12:25] stelgenhof commented on #20
@ageorgios Your wish has been granted! Created a homebridge plugin for the AiLight firmware. More details you can find here: https://www.npmjs.com/package/homebridge-ailight or here: https://github.com/stelgenhof/homebridge-ailight

[2017-10-01 13:18] ageorgios commented on #20
you rock!

[2017-10-02 07:46] stelgenhof commented on #20
Closing this issue as a dedicated Homebridge plugin is now available here: https://github.com/stelgenhof/homebridge-ailight

[2017-10-02 07:46] #20 closed, assigned to stelgenhof

[2017-10-05 09:00] bofh69 commented on #16
No, just close it, unless it can easily be detected for compatible browsers. I don't know enough html to know how to do that though.

[2017-10-05 10:32] stelgenhof commented on #16
@bofh69 Thanks! I would also like to use it if it would be more widely supported. I'll close it for now and if things changes we can address it again.

[2017-10-05 10:32] #16 closed, assigned to nobody

[2017-10-08 10:24] dawsmac opened #22 "Working with Expower 7W Smart WiFi Blub's"
Hi Stelgenhof cheers for this... in the UK I have four Expower 7W Smart WiFi Blub that I got off Amazon and they are working with HA now because of your firmware 👍

Happy Days...

https://www.amazon.co.uk/gp/product/B075Q9NHF2/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1

[2017-10-08 12:12] stelgenhof commented on #22
Thanks @dawsmac ! Happy to hear you like the AiLight firmware. Don't hesitate to create an issue if something isn't working or if you have any good ideas for improvement :)

[2017-10-08 12:16] stelgenhof commented on #22
Just updated the Wiki page for compatible bulbs.

[2017-10-13 02:08] petefats opened #23 "Gamma boolean can not be set via REST or mqtt"
Thanks for the incredible firmware.  Its been an integral part of an outdoor project of mine using 24 lights.  After a recent snowstorm, part of the lights report gamma correction true, part of them report false.  I believe this is a EEPROM problem due to the cold, nothing to do with AiLight itself.

The problem I'm running into however is that AiLight doesn't expose this variable to either REST o

[2017-10-13 03:29] stelgenhof commented on #23
Thanks! @petefats. In this case it is just a matter of 'unimplemented'. The firmware was targeted at HomeAssistant, which doesn't know anything about 'Gamma Correction'.

I agree that it would be better to be able to set Gamma Correction via REST or MQTT as well. Let me see how that can be done :)

[2017-10-13 20:52] petefats commented on #23
Thanks for looking.  In the interim, I found that I could connect directly via websocket to adjust this variable.

[2017-10-22 03:07] tsaitsai opened #24 "Upon power on, light turns on."
Sacha, thanks for this project.  Really useful.
I would like the option to have the bulb turn on upon power-on.  Right now, it seems bulbs stay off until explicitly given a command to turn on (so you have to monitor the mqtt status topic for that bulb).  If the bulbs defaults to turning on when powered, at some setting defined in the config maybe, then the bulb at least functions like a regular li

[2017-10-22 03:24] stelgenhof commented on #24
@tsaitsai Not sure why you closed it, but I think this is indeed a good feature to have. Currently, the firmware sets the light to the last known state. So if it was on, it will be on again after being powered on again.

[2017-10-22 07:02] tsaitsai commented on #24
@stelgenhof I got confused!  I didn't realize I was testing different states - the older bulb was off when I power cycled and the newer bulb was on when power cycled, making me think you've already implemented this.

But yes, I think making it behave like a normal bulb in case of automation failure would be nice.  Being able to operate with physical light switches is great.

[2017-10-26 11:38] stelgenhof commented on #22
Added to Wiki.

[2017-10-26 11:38] #22 closed, assigned to stelgenhof

[2017-11-23 12:14] stelgenhof commented on #19
Closing this issue. Should you feel this issue to needs to be addressed, please reopen it or create a new one.

[2017-11-23 12:14] #19 closed, assigned to nobody

[2018-01-03 09:11] kmickeletto commented on #17
Do you think this would work for the Tyua smart sockets?  They are a simple on/off device with no color options.  I know they use the ESP8266 chipset.  So if the extra hardware isn't present, will this firmware just work with the on/off functions and wifi?

[2018-01-03 13:33] brahmafear commented on #17
@kmickeletto I use [espurna](https://bitbucket.org/xoseperez/espurna) for similar sockets.  But I like AiLight better for the bulbs.

[2018-01-10 12:14] kaiomatico opened #25 "What happens if the Network changes? Any way to re-enter AP mode / Reset"
Hey, first thank you for the awesome project! I ordered 2 bulbs which should arrive shortly, but I have a concern or question, as I can't find it documented anywhere in the Wiki:
-What happens if I get a new router with a different SSID and password or what happens if I configure the lights in the AP mode for the first time and enter the wrong Wi-Fi credentials? My guess is I can't enter the light

[2018-01-10 13:34] stelgenhof commented on #25
If a WiFi connection cannot be established (either first time connect or new WiFi network), then the firmware will change into AP mode allowing you to enter the required settings.

[2018-01-10 13:38] kaiomatico commented on #25
Perfect thank you.

[2018-01-10 13:38] #25 closed, assigned to nobody

[2018-01-10 21:39] packetinspector opened #26 "Arilux Bulb?"
I flashed the code on to one of these, but it just caused boot loops.

http://tinkerman.cat/yet-another-wifi-light-bulb/#more-2127

I'm going to try Espurna, but is there anything I might be able to change in your code to make it compatible?

[2018-01-10 23:16] stelgenhof commented on #26
I am not aware these Arilux can work or not with the AiLight firmware. According to that link, it uses the same LED driver as the Ai-Thinker Light, so from that it looks like it should work.

Unfortunately I don't have an Arilux bulb, so cannot really test if it works or not. (https://github.com/stelgenhof/AiLight/wiki/Compatible-Light-Bulbs)

Espurna might work in this case, as this a more generi

[2018-01-11 01:34] packetinspector commented on #26
I suspect it has something to do with the flash/eeprom config.

[2018-01-11 01:37] stelgenhof commented on #26
Yes, that's possible. Also not all the ESP8266 chips used in these bulbs are the same. Always hard to assess which bulb works and which doesn't unfortunately.

[2018-01-12 21:39] packetinspector commented on #17
I've built some custom lights as well, I used this [code](https://github.com/bruhautomation/ESP-MQTT-JSON-Digital-LEDs).  No front end, but has all the features you need for lights via MQ.

[2018-01-13 01:00] stelgenhof commented on #17
Let me close this issue, as - at the moment - this firmware is intended for ESP8266/MY9291 based Smart LED's only.

[2018-01-13 01:00] #17 closed, assigned to nobody

[2018-01-15 20:46] apieronlogic opened #27 "Unable to flash lightbulb"
Code builds with a successful message, but getting this error when I try to upload:

Thanks for the help!

[2018-01-16 01:16] stelgenhof commented on #27
In case you are compiling the firmware yourself and want to make changes the Web UI, you need to make sure you have Gulp and NodeJS installed (I am aware the documentation needs some updating)

However, if not, you can safely ignore the first error.

Can you tell me what light bulb you are using for uploading? Not sure why you get this message that the size is exceeding the maximum. Just wondering

[2018-01-16 03:19] apieronlogic commented on #27
Thanks for your quick reply! Maybe I'll get around to some of the more advanced features later, but just learning the basics for now.

This is what I ordered: https://www.amazon.com/gp/product/B01H4ZW7I6/ref=oh_aui_detailpage_o03_s00?ie=UTF8&psc=1

I was able to install Espuna and got this information from it:
![capture](https://user-images.githubusercontent.com/30306008/34970377-544a04f2-fa31-11e

[2018-01-16 03:25] stelgenhof commented on #27
Can't yet tell if it is compatible or not. From the product description, it seems to be a proper ESP8266 based light bulb.

However some manufacturers use different LED driver chips. This firmware is certain to work with lightbulbs that have the MY9291 LED driver. See also this wiki Page:  https://github.com/stelgenhof/AiLight/wiki/Compatible-Light-Bulbs

You can verify your LED driver by checking

[2018-01-16 05:21] apieronlogic commented on #27
Thank you so much! I'll take a look at those other products.

You were right about the ESPURNA screenshot. I was able to get that up and running.

[2018-01-20 19:55] gmschade commented on #27
Just had same problem. solved it by:
1. build dev
2. go into folder .pioenvs/dev/
3. flash firmware.bin using esptool.py

[2018-02-04 03:57] stelgenhof commented on #27
@apieronlogic Quick follow up on your issue: It seems that the Arduino ESP8266 v2.4.0 framework has some issues. People have been reporting that their code increased in size significantly.

I've already tested reverting back to 2.3.0 and that works fine. I'll make some changes so the firmware stays with 2.3.0 (for the moment).

[2018-02-04 04:05] stelgenhof opened #28 "AiLight not working with provided binaries."
(Reported by Kai via separate conversation)

I erased the flash and written the ailight0.50.bin using esptool now in order to get more output. Everything seems fine but I still can't see an AP. I flashed at region 0x000000. Is this maybe the problem because I override the ESP Bootloader and the ailight.bin does not come with a bootloader? Here are the logs, it would be super kind if you could give

[2018-02-04 04:06] stelgenhof commented on #28
Sorry to hear it didn’t work yet. Usually I don’t flash binaries this way, so maybe indeed I’ve overlooked something.

I've been trying to get some results but no luck so far. It also seems that the Arduino ESP8266 v2.4.0 has some issues. People have been reporting that their code increased in size significantly.

[2018-02-04 09:40] stelgenhof commented on #28
Attached is a new binary, based on the latest changes/fixes

[ailight-0.5.1-dev.zip](https://github.com/stelgenhof/AiLight/files/1692638/ailight-0.5.1-dev.zip)

[2018-02-07 13:32] kaiomatico commented on #28
Hey, Kai here, I just tried the new dev build and it is working fine! However it only works using this command: esptool.exe -cd nodemcu -cb 115200 -cp COM3 -ca 0x000000 -cf ailight-0.5.1-dev.bin

which means the windows port of esptool.py is able to flash it, but the program somehow is not able to execute afterwards...anyways great to see that the new build is working fine!

[2018-02-07 13:52] kaiomatico commented on #28
I know this should be opened in a new issue, but I don't know if the problem is only in this dev firmware: the color temperature is not saved after a reboot. I like my lights "warm" 👍
And another thing: Using the mqtt discovery function I see the AiLight showing up in my mosqito mqtt broker logs, but in Home Assistant on the front page the light does not show up. I tried several restarts of the li

[2018-02-08 02:05] stelgenhof commented on #28
@kaiomatico Great to hear the flashing worked! After flashing, it is often need to restart the device. Usually, disconnecting the USB cable and then putting your bulb into a light socket is sufficient :)

[2018-02-08 02:07] stelgenhof commented on #28
@kaiomatico Could you give a bit more information regarding your HA setup? I've tested it myself and my light appears in HA perfectly. Perhaps your settings are a bit different.

[2018-02-08 07:52] kaiomatico commented on #28
Sure, thanks for offering help. I was using hassio with the addon mosqito-mqtt. My config looked like this:
[code]
This worked fine and instantly using espurna with Home Assistant discovery, but not on AiLight. As you have seen in my logs, the AiLight really connected in the mqtt log. After much time testing around I tried switching to Home Assistants built-in embedded mqtt broker (also because no

[2018-02-08 15:18] stelgenhof commented on #28
Can't see anything wrong from a first look. Before checking the HA configuration, can you check if you can change the lights settings (e.g. color, brightness, etc.) using the Web UI? And also can you check if the REST API and MQTT interface work?

[2018-02-09 06:12] stelgenhof commented on #28
I've done some more tests uploading the latest binaries and my settings (including color temperature) stay as they were after a reset (or unplugging).

As for the MQTT Discovery, have you enabled it through the UI like this?

![screen shot 2018-02-09 at 14 57 56](https://user-images.githubusercontent.com/529544/36014114-7277aaa0-0dab-11e8-8263-a2753c80f3b1.png)

I did notice that HA does recognize

[2018-02-09 09:35] kaiomatico commented on #28
Ok thanks for the feedback, I actually did not enable the lights like that (because I entered the MQTT IP Address and Port number)
I also found out that the color temperature actually stays, but is reported wrong in the web UI (the red, green, blue sliders are in the correct position for the color temperature, but the color temperature slider is set back to it's default value of 244).

But I final

[2018-02-09 10:38] stelgenhof commented on #28
Good to hear you got it working! I indeed have seen that the color temperature value doesn't keep its last set value. I'll investigate that.

Although I don't use the MQTT discovery feature myself, I do see that the light isn't properly loaded/configured in HA.

Yes, having the option to keep the light 'ON' (or 'OFF') is a feature already a few others have requested. That is my next add-on :)

Ple

[2018-02-11 06:37] stelgenhof opened #29 "Color Temperature setting is not retained after restart"
The color temperature actually stays, but is reported wrong in the web UI (the red, green, blue sliders are in the correct position for the color temperature, but the color temperature slider is set back to it's default value of 244).

[2018-02-11 06:39] stelgenhof opened #30 "Light not configured correctly in HA using MQTT discovery"
When using Home Assistant's MQTT auto discovery, the light is recognized, however not all features (like color temperature, color, etc.) are available. Only switching ON/OFF works and brightness can be set.

[2018-02-11 06:40] stelgenhof commented on #28
@kaiomatico I am closing this issue as I have created new issues for the color temperature and HA discovery ones separately.

[2018-02-11 06:40] #28 closed, assigned to stelgenhof

[2018-02-11 06:41] stelgenhof commented on #27
@apieronlogic I believe I found the culprit. The new master branch has a few updates and I can confirm it works with Arduino ESP8266 v2.4.0 framework.

[2018-02-11 06:43] stelgenhof commented on #26
@packetinspector Perhaps not related to your Arilux bulb, many have actually experienced reset loops (Software WDT reset) as well (including myself). I have made some fixes in the master branch which makes the firmware now work with Arduino ESP8266 v2.4.0 framework also.

Could you give it a try and let me know if it works or not?

Cheers! Sacha

[2018-02-11 11:34] stelgenhof commented on #14
Fixed in commit #62220c7

[2018-02-11 11:34] #14 closed, assigned to stelgenhof

[2018-02-11 11:35] stelgenhof commented on #30
Fixed in commit #4af6e5e

[2018-02-11 11:35] #30 closed, assigned to nobody

[2018-02-17 15:34] zmrow opened #31 "Compatible bulbs?"
Hey there - I've done a bit of searching using the link for compatible 9W bulbs on your wiki and it seems these bulbs have disapeared!  Do you still have a good source for 9W bulbs that work for this firmware?  Please and thank you!

BTW, wonderful job on this firmware - it's truly fantastic.  :) 👍

[2018-02-18 11:52] stelgenhof commented on #31
I haven't shopped recently so am not sure what is a good source these days. It is possible indeed that some stores don't offer the bulbs any longer or only the 7W version. I have found also that the 9W is hard to come by.

[2018-02-22 23:03] rbu commented on #24
I have to second this request. If you use this bulb in old school lamps with wall switches, it's extremely useful if they can default to a "dumb" behavior for users who do not use an app.

[2018-02-24 01:29] zmrow commented on #31
FYI - I've received this bulb:  https://www.amazon.com/gp/product/B079BCYXSW/ref=oh_aui_detailpage_o05_s00?ie=UTF8&psc=1

It appears to have the correct driver and I've attempted to flash it.  Platformio completes the flash successfully, however nothing comes up on the serial monitor after a reset (unplug and plug of the usb cable).  Does the bulb need to be connected to mains to get output on the

[2018-02-24 02:17] stelgenhof commented on #31
If you flashed with the 'dev' settings then you should get output. When using 'prod' then all output is disabled.

You shouldn't connect the bulb to the mains and connect to the USB cable at the same time. I think the  USB driver or LED PCB can handle that.

[2018-02-24 16:20] zmrow commented on #31
Ah - you're absolutely right.  I realized that later.

Tried again to flash 'dev' and got the below:
[code]

Should I open a different issue for this?

Any tuning I can do to reduce the firmware size?

[2018-02-24 16:22] zmrow commented on #31
Interestingly enough - I signed into my router and the bulb is connected to wifi and has an IP - but i can't reach the web interface.  Once I can flash dev and get some debugging output, that should help.

[2018-02-25 11:31] stelgenhof commented on #31
Can you tell what version of the firmware you are using/flashing? There have been many people noticing an increase of their program size after upgrading to ESP8266/Arduino v2.4.0.

[2018-02-25 22:46] zmrow commented on #31
This appears to be a weird PlatformIO/Arduino issue as you referenced here:  https://github.com/stelgenhof/AiLight/issues/27

I was able to flash "dev" using the ```firmware.bin``` and ```esptool```.  The light is working fantastically now!

[2018-02-25 23:46] stelgenhof commented on #31
Yes, I am not yet convinced if everything works fine with v2.4.0. At the moment I am kind of waiting until the storm has settled and hopefully an update is released :)

Happy to hear that you finally got it working, and sorry for the troubles!

[2018-02-26 00:53] zmrow commented on #31
Appreciate the help!  This firmware is fantastic!

[2018-02-26 00:53] #31 closed, assigned to nobody

[2018-02-26 06:18] stelgenhof commented on #31
@zmrow Thanks! Some more updates in the works... :)

[2018-03-07 13:30] rust84 opened #32 "Errors during compile 'WIFI_SSID' was not declared in this scope"
Encountering an error when trying to compile. Configured the default values for wifi and mqtt in src/config.h. The compiler is complaining about variables not being declared.

I noticed that if I comment out the wifi configuration (default) then the build finishes ok.

Am using platformio installed with pip. Tested on Windows and Linux and it is the same. See my config below.

`*******************

[2018-03-07 14:21] stelgenhof commented on #32
I think you made a typ-o of some sorts when editing the config.h file. Most likely you didn't close a string (using quotes or double quotes) properly in the config.h file. If that occurs, then basically the syntax is garbled which could explain these errors.

Can you please check if your config.h file is correctly edited?

[2018-03-07 14:43] rust84 commented on #32
It was my fault for removing the # thinking it was already commented out. Been a long time since I did anything with c! Thanks for responding anyway.

[2018-03-07 14:43] #32 closed, assigned to nobody

[2018-03-18 01:47] nickrout opened #33 "Working bulbs"
I got mine here and they work perfectly https://www.alibaba.com/product-detail/High-Standard-Colorful-Smartphone-Remote-Control_60576662953.html?spm=a2700.7724838.0.0.jahydM

Perhaps add it to your page of working bulbs?

[2018-03-18 02:11] stelgenhof commented on #33
Thanks! I've added it to the Wiki page :)

[2018-03-18 02:11] #33 closed, assigned to nobody

[2018-03-23 17:16] SurfingSpider opened #34 "Add Emwel Smart bulb to compatible list"
I just wanted to let you know that the "[Emwel 7W Smart WiFi Bulb Light B22 Led Bulbs Works with Amazon Alexa Echo Remote Control by Smartphone IOS and Android 60W Equivalent [White, Energy Class A+]](http://amzn.eu/2HiYVXl)" bulb on amazon (which is currently on sale for £15) works with your firmware. Incase you wanted to add it to your compatible list.

[2018-03-24 01:30] stelgenhof commented on #34
Thanks! Added it to the Wiki Page.

[2018-03-24 01:30] #34 closed, assigned to stelgenhof

[2018-03-26 13:05] SurfingSpider opened #35 "Feature Request: MQTT availability_topic"
Can I ask if we can get the availability_topic working. So if the bulb is off it shows as unavailable in home assistant. hopefully if home assistant restart it will also show the current status of the lamp.

[https://www.home-assistant.io/components/light.mqtt/#availability_topic](https://www.home-assistant.io/components/light.mqtt/#availability_topic)

I have it working on my tasmota sonoff switc

[2018-03-26 14:23] stelgenhof commented on #35
Absolutely! Let me have a look how to implement that :)

[2018-03-26 14:24] stelgenhof commented on #26
@packetinspector Just wanted to follow up if you had any success with the latest master branch code?

[2018-04-06 23:29] SurfingSpider commented on #35
I see on the front page that you have enabled MQTT Last Will and Testament maybe this is all i need. just put it in the availability topic. I cant find any info on the wiki on how to implement it.

When I setup a device in home assistant (mosquitto Mqtt) which has **tasmota firmware** on it my configuration.h looks like this.....

[code]

I assume that the availability_topic would be the Status To

[2018-04-07 00:12] mjoshd commented on #35
I didn't have to do anything special for the LWT online/offline messages to
work. About 30-60 seconds after the bulbs lose power, the MQTT broker will
send the "offline" message and moments after power is restored the "online"
message is sent.

Here is what I have in my config-

light:
- platform: mqtt_json
name: My Lamp
state_topic: "hassio/ailight/my_lamp"
command_topic: "hassio/ailight/my_lamp/

[2018-04-07 00:34] mjoshd commented on #35
I didn't have to do anything special for the LWT online/offline messages to
work. About 30-60 seconds after the bulbs lose power, the MQTT broker will
send the "offline" message and moments after power is restored the "online"
message is sent.

Here is what I have in my config-

[code]

[2018-04-07 02:45] stelgenhof commented on #35
As @mjoshd mentioned, you don't have to do anything for MQTT Last Will and Testament to work. You can read more about it here: https://www.hivemq.com/blog/mqtt-essentials-part-9-last-will-and-testament

I can add the availability topic as well, although I am not 100% sure how this and MQTT LWT relate to each other. They seem to serve the same purpose. Guess I need to do some more reading... :)

[2018-04-07 12:32] stelgenhof commented on #35
@SurfingSpider I have added the availability topic (as part of the auto discovery feature of Home Assistant). It uses the same MQTT topic as used for the Last Will and testament.

The payloads for available/unavailable are the defaults as used in Home Assistant ("online" and "offline").

The changes are done in the default ('develop') branch and will be released once considered ok/stable.

Cheers!

[2018-04-07 22:56] peterjohnston commented on #24
Thanks very much for this super-useful project!

I have a further suggestion for this, in that each time the bulb power-cycles, it moves to a different state. Perhaps this could be part of a future "effects" enhancement where it cycles around them.

This would allow a user to have the bulb move from, for example: dim, medium, bright, etc, on subsequent power-ups.

This would give an instant change

[2018-04-12 16:12] hulkhaugen opened #36 "[Request] Rainbow effect"
I really like this firmware, but i do however miss the lack of effects. I think the rainbow effect is probably the most wanted one, at least for me. If you could look at a way to integrate this, that would be awesome.

https://github.com/xoseperez/my92xx/blob/master/examples/esp/esp8285_rainbow.cpp

It's all greek to me, so i don't know if the transition times in the effect are adjustable or what'

[2018-04-12 17:24] hulkhaugen commented on #35
umm, i'm trying to add this manually myself. MQTT is still pretty new to me, but i've tried a lot. I cannot get it to work with /set, /status or just blank. Currently it looks like this:

[code]

I've also tried to listen to the different topics in terminal, but i can't find any online/offline status in the 3 different topics. So, is there a 4th hidden topic i should listen to?

BTW, i'm also unab

[2018-04-12 23:31] stelgenhof commented on #35
@hulkhaugen As I just implemented this, I haven't yet updated the documentation. Apologies for that.

As for the "availability_topic", it is the same as the status topic, so will need to look like this:
"<YOUR DEVICE ID>/status"

Also your `payload_available` and  `payload_unavailable` are not correct. These values are the defaults as used in Home Assistant ("online" and "offline"). Unless you cha

[2018-04-12 23:33] stelgenhof commented on #36
Thanks for the feature request. Effects are on the Todo list, however not many have requested it :) Personally I don't have a need for effects (yet), but can definitely look at implementing it.

[2018-04-13 06:32] hulkhaugen commented on #36
Awesome, thank you. Yes the rainbow seems "useful" to me, most others makes more sense for a addressable LED strip. Maybe a blink/strobe effect are interesting to someone, or "police lights" alternating between two colors. Personally, i think that would be annoying as a practical use, but maybe fun to show off :D

[2018-04-13 06:41] hulkhaugen commented on #35
Thanks for your quick reply. Is there something i'm missing here? Unless you refer to the payloads being case sensitive in HA, i can't see the issue. You also writing `payload_unavailable` instead of `payload_not_available`, but i guess that's on you. However i tried all them combinations, but it just shows as unavailable, even when it's on (before restart HA). It currently looks like this:

[code

[2018-04-13 06:51] stelgenhof commented on #35
Sorry, my mistake. It indeed should be `payload_not_available` (Typo).

The firmware implements the mqtt_json light of Home Assistant. You can find all information here: https://www.home-assistant.io/components/light.mqtt_json/

The availability_topic feature has only been recently implemented in HA (not sure exactly since which version), however I checked the source code you are using (0.50) and

[2018-04-13 06:54] stelgenhof commented on #36
FYI: The flash memory in these lights are pretty limited (usually only 1MB) and having many effects implemented would consume a lot of memory. So the number of effects will be pretty small.

[2018-04-13 06:56] hulkhaugen commented on #35
No, i'm using HA 0.66.1. It's the AiLight firmware that's v 0.5.0-dev.

[2018-04-13 07:03] hulkhaugen commented on #36
Yes, I understand that. Just the rainbow and I will be a happy puppy :)

[2018-04-13 07:04] stelgenhof commented on #35
Ah ok!

Anyway, AiLight 0.5.0-dev doesn't have this feature :) You need to compile the firmware yourself  (from the develop branch) as it isn't officially released yet.

[2018-04-15 23:46] peterjohnston opened #37 "[Request] Candle Effect"
Hey, thanks again for your excellent work.

Another suggestion for an effect - how about some kind of flickering candle mode?

I understand the limitations of the Flash chip so perhaps effects could be chosen or enabled at compile time.

Thanks very much! :)

[2018-04-24 07:33] stelgenhof commented on #24
@peterjohnston My apologies for the late reply! I have just added a feature allows you to set the behaviour of the light after a power cycle. As for your suggestion, would you mind creating a separate issue/feature request?

[2018-04-24 07:35] stelgenhof commented on #24
@tsaitsai @rbu Feature is done! It has been added to the develop branch, which means you have to compile the firmware yourself. Official release/binary will come (if it has become stable).

Let me know if you experience any issues.

Cheers! Sacha

[2018-04-24 12:48] stelgenhof commented on #23
@petefats I know you were able to work around this by using the Websockets. However, I have added the ability to set the Gamma Correction via REST API and MQTT now as well.

It's not available yet as part of an official release, however you can try it out by compiling the firmware (develop branch) yourself.

Cheers! Sacha

[2018-04-25 10:58] jonny190 opened #38 "Support"
Is there any planned support for:

https://www.banggood.com/ARILUX-AL-LC01-Super-Mini-LED-WIFI-Smart-RGB-Controller-For-RGB-LED-Strip-Light-DC-9-12V-p-1058603.html?rmmds=search&cur_warehouse=CN

LC01 | RGB | 5-28V | None | ~$8
LC02 | RGBW | 9-12V | None | ~$11
LC03 | RGB | 5-28V | IR | ~$12
LC04 | RGBW | 9-12V | IR | ~$13
LC08 | RGBWW | 5-28V | None | ~$12
LC09 | RGB | 5-28V | RF | ~$12
LC10 | RGB

[2018-04-25 11:55] stelgenhof commented on #38
The AriLux LC0X controller series are not using a LED driver like the AiThinker Light bulb (and some other similar types). I am not planning any support for these as this firmware is only intended for AiThinker type light bulbs.

[2018-05-08 00:27] xbmcnut commented on #26
I have just tried v5.13.1 on an Arilux bulb and while it flashed, the webpage does not load correctly preventing access to program any settings (WiFi, MQTT etc.)

![image](https://user-images.githubusercontent.com/1492137/39731324-2e49261a-52bb-11e8-813f-7ab617492caa.png)

[2018-05-08 00:33] stelgenhof commented on #26
@xbmcnut Sorry I don't recognize this screenshot and neither the version number you are referring to (v5.13.1). What is this firmware you are trying to flash?

[2018-05-08 00:50] xbmcnut commented on #25
What's the WiFi password in AP mode?

[2018-05-08 00:58] xbmcnut commented on #26
Disregard. Seems I was connecting to another ESP unit running a MiLight bridge! Sorry about that. Don't know why that was up on 192.168.4.1 as it had been configured for WiFi already. My Arilux bulb does not seem to be working after flashing 0.5.0 release. No AP mode.

[2018-05-08 01:19] stelgenhof commented on #26
Can't really tell what the issue is you are experiencing as I don't have an Arilux bulb myself. Not confirmed if the firmware works with this lightbulb or not. Best is to check the output of the Serial connector to see if there are any clues why it is not working.

[2018-05-08 01:21] stelgenhof commented on #25
The default password is "hinotori"

[2018-05-08 01:26] xbmcnut commented on #26
FYI, I tried espurna-1.12.6-arilux-e27.bin just now and the AP mode is exposed and I can connect and control [this bulb](https://www.banggood.com/ARILUX-E27-11W-RGBW-Dimmable-Smart-WIFI-LED-Light-Bulb-Works-with-Amazon-Alexa-Echo-AC85-265V-p-1175196.html?cur_warehouse=CN). FYI, the packaging (generic) says it's 7W not 11 as stated in the listing.

[2018-05-08 01:38] xbmcnut commented on #25
Thanks.

[2018-05-08 01:56] stelgenhof commented on #26
Some lightbulbs actually use different LED driver chips to control the various LED's on the PCB. The AiLight firmware only works with the MY9291 LED driver, so any bulb using that driver will work.

I believe the AriLux is using a different driver. Other firmwares like Espurna or Tasmota are compatible with a variety of lightbulbs/drivers so that explains why they work :)

[2018-05-08 02:09] xbmcnut commented on #26
I can confirm the Arilux bulb I have has a MY9291 LED driver. I'll reflash again this evening and see if it works 2nd time around.

[2018-05-08 02:27] stelgenhof commented on #26
You're correct. The Arilux E27 is indeed using the MY9291 driver. Was mixing it with another bulb I had in mind. Let me know if you managed to flash it (or not).

[2018-05-08 02:31] #38 closed, assigned to stelgenhof

[2018-05-08 08:54] badgerhome commented on #26
Looking forward to seeing If you get this to work. Looks like they are 11w bulbs so would be interesting to see how brightness compares to the others.

[2018-05-08 10:42] xbmcnut commented on #26
Tried re-flashing this evening and again no AP mode. Seems device is constantly rebooting. PuTTy on COM8 @ 115200 below.

[code]

Works fine though with espurna-1.12.6-arilux-e27.bin.

[2018-05-08 10:49] stelgenhof commented on #26
Ah yes. It's same as the OP mentioned. Are you just flashing the binary release file, or compiling yourself?

[2018-05-08 10:50] xbmcnut commented on #26
Binary release. Very rusty on Platformio.

[2018-05-08 10:51] xbmcnut commented on #26
Binary on both instances. Ailight and Espurna.

[2018-05-08 10:59] xbmcnut commented on #26
Should it work if I build with Platformio?

[2018-05-08 11:14] xbmcnut commented on #26
SUCCESS! Compiled with Platformio and it is working a treat now. What's the difference between that and your compiled binaries?

[2018-05-08 11:21] stelgenhof commented on #26
Good to hear!

v0.5.0 (binary release) has this issue with repeated reboots experienced by a few users. If you compile from source code yourself you are always using the latest changes, in which I have resolved the issues from v0.5.0.

I will release a new version (+ binary) once the latest changes are stable.

[2018-05-08 11:25] xbmcnut commented on #26
Ah yes, see this now. Build is running the version below which is working a treat. Thanks for all your hard work and advice.

![image](https://user-images.githubusercontent.com/1492137/39754646-f97b1a54-5316-11e8-82e3-8930e293f903.png)

[2018-05-08 11:57] stelgenhof commented on #26
Super! Thanks for the testing and patience. My lightbulbs are working fine as well on this build. Guess I will prepare a release soon :)

[2018-05-08 18:35] badgerhome opened #39 "Freezes for a couple of mins when firing quick MQTT"
Hi,

I'm testing 0.6.0-dev, I'm using it with this script: https://community.home-assistant.io/t/finally-a-cheap-wireless-switch-that-dims-xiaomi-switch-gen1/27574

Which basically fires a dim command in a loop until a button press is released:
[code]
I've noticed that 0.6.0-dev freezes up for a couple of mins and then comes back, I can still access thr bulb via HTTP but can't issue any commands,

[2018-05-08 18:38] badgerhome commented on #39
in fact I can't access via HTTP at all when it freezes but I am able to ping it.

[2018-05-09 00:25] stelgenhof commented on #39
I have not seen this myself. Need to use your script myself then to see if I can replicate the issue.
Also I checked the code changes between 0.5.1-dev and 0.6.0-dev and there isn't anything particular that could be the cause of this (for now).

[2018-05-09 02:47] xbmcnut commented on #26
For those wishing to flash these four channel bulbs via MQTT, here is the json.

`{"flash":"10", "brightness":255,"white_value":0,"color_temp":500, "color": {"r": 255, "g": 0, "b": 0}}`

[2018-05-09 02:47] xbmcnut commented on #26
I'm going to use the above when any of my smoke alarms goes off.

[2018-05-17 01:51] stevesoltys commented on #26
Just here to confirm that I was able to flash the latest development build of AiLight on this bulb: https://www.amazon.com/gp/product/B077VL5JXR/

It appears to be the same as the Arilux E27 ([packaging and all](http://tinkerman.cat/wp-content/uploads/2017/11/20171109_142859s.jpg)) but without the branding on the side.

Thanks for the fix!

[2018-05-22 04:18] nickrout opened #40 "HA MQTT auto discovery problem"
My light running AiLight 0.51-dev was working perfectly so of course like an idiot I changed some things.

I got a new wifi AP so I changed the ssid and password. That has worked out fine.

At the same time I thought I'd change the name of the bulb to something more descriptive, so I changed the following in the gui:
hostname: hallwaylight
state topic: hallwaylight
command topic: hallwaylight/set

[2018-05-22 04:34] stelgenhof commented on #40
Not sure. Did you recompile/reflash the bulb?
Perhaps a restart of HASS might help.

[2018-05-22 04:55] nickrout commented on #40
No I hadn't recompiled or reflashed, I simply made the changes over the bulb's web server.

I just tried:

- turned off mqtt discovery, saved, and restarted bulb
- turned on mqtt discovery, saved and restarted bulb

It is now working as expected, with discovery all good. I am not sure why it wasn't working before, perhaps a browser issue (firefox 59.0.2). I did think I'd tried that sequence previo

[2018-05-22 05:08] stelgenhof commented on #40
Ah! I remember now that the firmware stores whether the light already has been discovered by HASS or not. This to avoid repeatedly broadcasting a discovery call. I need to have a look at the code.

Maybe the code is too strict, i.e. should allow discovery again if something has changed (i.e. name, WiFi, etc.)

[2018-05-22 05:13] nickrout commented on #40
Damn I do remember reading that a while ago but I had forgotten.

Probably no need to change it on wifi change, as you might still be on the same mqtt server, ie you are still in the same home. But a change of hostname or mqtt server details should probably allow a re-broadcast. Up to you of course.

[2018-05-22 11:19] stelgenhof commented on #40
I had a look at the code. MQTT Auto discovery is triggered upon connect to the MQTT broker and if the device hasn't been auto discovered yet.

The most critical pieces of the auto discovery in this regards are:
- hostname
- state_topic
- command_topic

So I will make a change that if any of these 3 settings are changed, the device hasn't been discovered any longer.

[2018-05-23 00:44] stelgenhof commented on #40
@nickrout I have made some minor code changes (develop branch) that will trigger a re-discovery if also the state topic, command topic and status topic are changed.

As a matter of fact, just changing the hostname already triggered the device to re-register itself in Home Assistant. So, your steps to restart the device are actually not needed. See my screenshot below:

![screenshot from 2018-05-23

[2018-05-23 00:52] stelgenhof commented on #39
@badgerhome I have been able to find some time testing your issue.

Since I didn't have your setup with the switch, I used a small script to repeatedly fire a MQTT message to the light. Unfortunately I couldn't replicate the issue that it was freezing up after running the script. It continued to operate perfectly. REST API, MQTT and Web UI were accessible as normal.

I've also test it at different

[2018-05-23 05:24] nickrout commented on #40
Thanks, I am not sure why mine took a while to work, and it is now.

Having got a new ubiquiti wireless AP (my ISP supplied crap had a hard limit of 16 clients!) I will now be deploying the other bulbs I have. I want to thank you yet again for your great support (including the supply of the jig). Cheers.

[2018-05-26 02:50] stelgenhof commented on #40
I know you're using an older version of AiLight, however would you mind testing the latest version (develop branch) to see if the auto discovery is still an issue for you?

As said, on my side it all looks fine, but always good to get a second opinion :)

Cheers! Sacha

[2018-05-28 13:08] lxz81 opened #42 "behaviour on wifi disconnect"
Hi,

If my wifi network can not be reached after a power outage, my bulbs fall back to access point mode.
Is it possible to let the bulb retry connecting to the wifi network (and mqtt server) every now and then?

[2018-05-28 13:34] stelgenhof commented on #42
Can you provide a bit more information? Which version of the firmware are you using? Also - if you happen to know - what version of the ESP8266 framework are you using?

Cheers! Sacha

[2018-05-29 09:24] lxz81 commented on #42
I am using

- 0.4.1-dev version (Aug 18 2017)
- Framework unknown (is there a way to check it?)

I have had some power outages and when the power comes back up, the bulb is trying to connect to my router before the wifi is broadcasting again.

So the bulb can not connect to my router and will start in access point mode. It would be nice if could try to reconnect to my router every 5 minutes or som

[2018-05-29 14:45] rbu commented on #24
@stelgenhof thanks so much for this change and the project

[2018-05-29 15:13] stelgenhof commented on #42
@lxz81 Thanks for the info! Let me have a look at the code of 0.4.1 first.

[2018-05-30 14:33] stelgenhof commented on #42
I need to do some testing myself. In my situation I have never experienced such outages :)

[2018-05-30 14:43] packetinspector commented on #42
I have.  I think my wifi takes longer to "boot" than others.  Power goes out, bulbs never reconnect.  I have to either power cycle or login and reset them.

[2018-05-30 14:56] stelgenhof commented on #42
Ok. I will do some testing on my side and see if I can make some improvements :)

[2018-06-26 04:07] nphil commented on #42
having the same issue, if WiFi goes out, the bulbs don't automatically reconnect and go into AP mode.

[2018-08-28 07:32] nomadrick commented on #28
Would someone be kind enough to give me the WiFi password for the "ailight-0.5.1-dev.bin"?

Thanks.

[2018-08-28 07:43] stelgenhof commented on #28
@nomadrick If you're talking about *your* WiFi password, you should check your WiFi router/modem settings. :) However, assuming you would like to know the AiLight admin password, it is "hinotori" (without the quotes).

Cheers! Sacha

[2018-08-28 12:56] nomadrick commented on #28
Thank you.

[2018-08-30 19:12] alandolt opened #43 "problem with OTA update"
Hello

First thank you very much for the development of the AiLight. It works great on my bulb and thanks to it I could develop an alarm clock which is controlled over a web application (with the Rest API). Thanks.

The upload over serial connection works without problem, but unfortanetely the OTA update doesn't work at all.
When I'm trying to do an ota update with visual studio code ('pio run --t

[2018-08-30 21:01] brahmafear commented on #43
Hi CatTurbo,

I had same issue. Despite the error saying “authentication failure”, the reason the the failure was insufficient flash space on the bulb. Ie, flash was not big enough to hold 2 copies of code (required for  ota updates). You can see this error message by running some of the command line programs manually.

You might try doing the typical, 2 stage OTA update — do an ota upload of some

[2018-09-02 19:30] alandolt commented on #43
Hello brahmafear
First thank you very much for your fast answer. I think you are completely right, my bulb has 1MB of flash, so space is IMHO here the problem.
About the 2 stage update. I've tried it with the standard android OTA sketch for ESP8266

The upload worked. In the next step I've tried to upload another code (the ailight code), but the PIO gave me a memory failure error. In the Arduino I

[2018-09-02 22:00] brahmafear commented on #43
Could you provide the exact error messages you received?

[2018-09-03 18:45] alandolt commented on #43
Good evening brahmafear

first thanks you again for your response. In the meantime I think I've found the bug.
I've first reflashed the Ai-Light firmware on the bulb (over a serial connection). Then I've flashed the Arduino OTA code on the bulb with platforme IO (over OTA update). There it seems to be important that there isn't an upload port specified in the platformeio.ini file.
```upload_flags

[2018-09-03 19:19] brahmafear commented on #43
Great diagnostics!

@stelgenhof -- Can we get that change put in to next release?  I'd submit a
PR, but I'm not sure what to base on -- last release was a year back.

On Mon, Sep 3, 2018 at 2:45 PM CatTurbo <notifications@github.com> wrote:

[2018-09-04 01:29] stelgenhof commented on #43
@CatTurbo @brahmafear Thanks for catching this issue. I can do a fix for you no problem.

Yes, I know the last release was a year back :( Lame excuse, but busy with other projects at the same time, haha.

There are some minor changes/fixes done since, so maybe I can do a minor release (v0.5.1) soon.

[2018-09-04 03:37] stelgenhof commented on #43
Solved in the develop branch. You may need to adjust your own platformio.ini file yourself.

I will do a 0.5.1 release probably end of this week.

Cheers! Sacha

[2018-10-21 13:17] badgerhome commented on #42
Is this fixed in the latest release? Planning on updating mine this evening. I've had some building work done at home recently and my AP has been up and down a lot with the bulbs going into AP mode as the WiFi takes longer to start up on my router than the boot time of the bulbs so they keep going into AP mode. Thanks!

[2018-10-21 14:17] stelgenhof commented on #42
@badgerhome I'm pretty sure it is not fixed yet. Last time I worked on the firmware was about 2 months ago and fixed only some other issues.

Perhaps this week I may have some time to investigate. Sorry about the delay.

Cheers! Sacha

[2018-11-04 10:31] crisboarna opened #44 "LOHAS bulb support"
Hi,
Although you have mentioned the LOHAS bulbs are incompatible due to them having an MY9231 controller, on a HA thread I noticed that somebody tested it out and that it could control the bulb, just that all the settings were resulting in different outputs than expected.

Are there any plans to add support for this type of bulb as it reaches greater lux (1380 on [this one](https://www.amazon.com/

[2018-11-04 12:34] stelgenhof commented on #44
Hi @crisboarna,

Indeed I have no immediate plans to support other type bulbs however am keen to have a look. At the moment I don't own one yet so some testing would be not possible yet. Let me see if I have some time soon. Definitely looks interesting though!

Cheers! Sacha

[2018-11-11 06:06] jimpastos opened #45 "Question. Qube light bulb"
I accidentally broke a Qube light bulb while moving some boxes and started to look into what I can salvage from its components.

Any chance AiLight can be used (or parts of it) to flash the bulb? The original is dead as Qube took down their servers. Would be good to have a project to revive them

From what i can tell it has an ESP8266EX and a bluetooth chipset. Not sure if it has any fancy LED con

[2018-11-11 07:17] stelgenhof commented on #45
Thanks @jimpastos for the photos. Indeed it has both an ESP8266EX and a CSR1010 Bluetooth chip for communications. It would be interesting to see what kind of LED driver it is using. From the photos I couldn't see one. Unless the LEDs are controlled in a different manner.

[2018-11-11 16:10] jimpastos commented on #45
I couldn’t see any specific driver. Seems it just controls them with N-channel Mosfets with a secondary board that connects to the LED pcb

[2018-11-11 17:03] stelgenhof commented on #45
I see. The AiLight is currently designed to work with a LED driver only, not with the ESP8266 driving any MOSFET's. It would be possible, however not (yet) designed to do so.

Cheers! Sacha

[2018-11-11 17:52] jimpastos commented on #45
If I could figure out how to flash this with custom firmware, i can experiment with it.
For now i can probably try to use the mosfet pcb and the led grid on a pi and attempt to drive with its GPIOs.

Ideally running the ESP with wifi and bluetooth with something custom with be perfect

[2018-11-13 11:14] stelgenhof commented on #45
I think the flashing isn't the hardest part. You would just need to connect wires to the ESP8266 chip directly.

[2018-11-17 04:59] virtualducttape opened #46 "MiLight 9W incompatible"
Just wanted to leave a note, the Mi-Light 9W bulb is NOT compatible. The exterior looks like the Sonoff B1, however it's using a STM 8S003F3P6 chip inside. I ordered it from Amazon (this bulb: https://www.amazon.com/gp/product/B077TGTLWQ/ref=oh_aui_detailpage_o03_s00?ie=UTF8&th=1 )

[2018-11-22 10:52] stelgenhof commented on #46
Hi @virtualducttape

Thanks for the information. I will add this to the list of incompatible lights.

Cheers! Sacha

[2018-11-26 23:54] stelgenhof commented on #46
I've update the Wiki page with this information. Thanks!

[2018-11-26 23:54] #46 closed, assigned to stelgenhof

[2018-11-27 17:44] nospam2k opened #47 "Backing up OEM firmware"
I have 4 of the same bulbs and I did the following to back up the OEM image.

sudo esptool.py --port /dev/cu.usbserial --baud 115200 read_flash 0x000000 0x100000 light1m.bin
sudo esptool.py --port /dev/cu.usbserial --baud 115200 read_flash 0x000000 0x400000 light4m.bin

I wasn't sure the size of the flash so I made both (esptool said it was 4m)

When I flashed either one back to the bulb it just g

[2018-11-27 23:14] stelgenhof commented on #47
Not sure how I can help with the OEM firmware in this case, however have you tried clearing the flash space before writing the OEM image?

[2018-11-27 23:20] nospam2k commented on #47
I understand. I just wondered if you have been able to successfully backup the oem firmware and if so what the procedure would be. I tried writing the image to an NodeMCU but the results are the same. Just boot loops.

[2018-11-27 23:30] stelgenhof commented on #47
I recall that I was able to restore the OEM firmware on one of my bulbs but that has been a while.

It is possible that the OEM firmware is expecting a different boot loader or that it is using a different flash region. It's hard to tell as there may be so many parameters involved for the original firmware to work.

[2018-11-27 23:38] nospam2k commented on #47
I think you are right about the bootloader (see dump). So I backed up 0x000000 0x400000. Does that not include the bootloader?

Here is the boot loop text:

load 0x40100000, len 1396, room 16
tail 4
chksum 0x89
load 0x3ffe8000, len 776, room 4
tail 4
chksum 0xe8
load 0x3ffe8308, len 540, room 4
tail 8
chksum 0xc0
csum 0xc0

2nd boot version : 1.4(b1)
  SPI Speed      : 40MHz
  SPI Mode       : QIO

[2018-11-28 01:46] stelgenhof commented on #47
It likely includes the boot loader. However as said there may be various other factors involved.

It is possible to define where the bootloader on the Flash memory resides. The Atmel MCU's for example are using fuses (i.e. variables) to control the operation of the firmware. One of them is the bootloader start address. If this particular fuse is not corresponding with the loaded firmware, the MCU

[2018-11-28 02:06] nospam2k commented on #47
Ok, thanks for the info. I have 3 other bulbs so I will see if I can't copy the firmware out of them. Not likely to use it because your firmware works great!

[2018-11-28 02:06] #47 closed, assigned to nobody

[2018-11-28 02:25] stelgenhof commented on #47
Thanks! I tried the same thing as you when I started with these bulbs, because I wanted to make sure I could go back to start :). I wasn't successful at first but also didn't really put much effort in trying to restore the OEM firmware as most other firmware projects (e.g. Espurna, Tasmota, and AiLight of course) always worked.

[2018-12-04 00:06] moishap commented on #28
I flashed the f/w and my bulb is booting up in AP mode with AiLight-XXXX SSID. What is the pw for that AP ? Thanks !

[2018-12-04 07:54] stelgenhof commented on #28
@moishap The default password for both the HTML UI admin and AP mode is "hinotori".

[2018-12-20 16:49] nospam2k opened #48 "Losing config after powering off"
This doesn't happen every time but sometimes when I cycle power on the bulb, it goes back into the default AP state and I have to re-provision the bulb (connect to bulb AP, re-enter ssid, pw, etc). I have taken the .bin file from platformio and used "sudo esptool.py --port /dev/cu.usbserial -b 115200 write_flash 0x0 AiLight.bin" to flash it. Is there any reason not to do it this way?

[2018-12-20 17:02] nospam2k commented on #47
I just wanted to update this for others. I was able to backup and restore the firmware. I factory defaulted the bulb from within the app. I'm not sure if this is necessary or not because I didn't play with it any further after I got the bulb to reflash. Then, sudo esptool.py --port /dev/cu.usbserial --baud 115200 read_flash 0x0 0x100000 factory_firmware.bin. But the key was in uploading the firmwa

[2018-12-21 11:59] stelgenhof commented on #48
I have not experienced myself that the config is lost after powering off. There is one bulb in our house that everybody uses with the regular mains switch and going strong for almost two years.

What version of the firmware are you using? You can definitely flash that way. Don't you use OTA?

[2018-12-22 09:22] nospam2k commented on #48
I'm having problems with trying the OTA. I get this error every time.

Sending invitation to 192.168.0.61
Authenticating...OK
01:19:47 [INFO]: Waiting for device...
Uploading: [============================================================] 100% Done...

01:20:02 [INFO]: Waiting for result...
01:20:02 [INFO]: Result: 488
01:20:02 [INFO]: Result: 1008OK
01:20:02 [INFO]: Result:
01:20:02 [INFO]: Resul

[2018-12-23 01:20] nospam2k commented on #48
Ok, I'm still getting the above errors but it seems to be working. I haven't actually pulled the bulbs to check for losing config but I'm getting random results with compiling. I get this error every couple of compiles:

Assembler messages:
 Fatal error: can't create .pioenvs/prod-ota/libbc9/ESP8266WiFi/WiFiClientSecureBearSSL.cpp.o: No such file or directory
 *** [.pioenvs/prod-ota/libbc9/ESP8266

[2018-12-24 01:29] nospam2k commented on #48
Ok, I'm going to close this because I don't know where the problem lies. It seems that it takes MANY tries to get past errors on compiling and uploading, but if you are persistent and keep clicking the upload, eventually it will work. It took as many as 10 times to get it to work. This is with several different bulbs from two different manufactures.

[2018-12-24 01:29] #48 closed, assigned to nobody

[2019-01-04 03:21] moishap commented on #33
And here is another one : https://www.amazon.com/gp/product/B0769L9FNH/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1

[2019-01-05 12:48] stelgenhof commented on #33
@moishap Thanks! Added it to the Wiki page.

[2019-01-05 12:49] stelgenhof commented on #45
@jimpastos Just wanted to know if I can close this issue? Did you get around resolving your issues?

Cheers! Sacha

[2019-01-05 15:26] jimpastos commented on #45
When I played around with it I measured that the circuit was using 20+ Volts so I didn’t bother trying drive it with other components.
I guess someone with more time and dedication should play with this :)

You can close the ticket

[2019-01-06 02:09] #45 closed, assigned to nobody

[2019-01-06 02:14] stelgenhof commented on #39
@badgerhome Just wanted to follow up if you are still experiencing this issue. (Cleaning up old issues :) )

[2019-01-06 02:14] stelgenhof commented on #40
@nickrout Can you let me know if you are still having an issue with the auto discovery?

[2019-01-08 06:16] nospam2k opened #49 "Is there a wiki page for MQTT usage like REST"
I can't seem to find a page for using MQTT like the REST page. Ex. how to send/listen for a status request.

[2019-01-08 07:29] stelgenhof commented on #49
There is no such page as mostly the pageload for MQTT is the same as the REST API. Then again a separate page would be a good idea I think.

[2019-01-08 22:36] nospam2k commented on #49
Glad to hear it... but... I still don't know how to setup an mqtt to get status ;) I tried using mosquito with just the state topic and status topic and neither trigger a response (Ex. mosquitto_sub -h server -t /Lights/WifiLight1 or /Lights/WifiLight1/status).

[2019-01-09 00:29] nickrout commented on #40
No problems now!

[2019-01-09 00:36] brahmafear commented on #49
Hey nospam2k,

Your mosquito_sub command looks good. The topic to subscribe to will depend on your own configuration. The trick is that “/Light/...” is different than “Light/...”.

Also, you can use

mosquitto_sub -h server -v -R -t “#”

To subscribe to everything and see what topic c it is posted to.

[2019-01-09 07:41] nickrout commented on #49
Out of interest, what is the -R option? I cannot find it in man mosquitto_sub?

[2019-01-09 10:29] stelgenhof commented on #49
From the documentation:

[2019-01-09 11:12] brahmafear commented on #49
Right:

-R basically says don’t show me all the old stuff. I use it when testing because I just want to see new messages coming in.

[2019-01-09 11:45] #40 closed, assigned to nobody

[2019-01-09 15:04] nospam2k commented on #49
Yes sorry for the typo. I am using Lights/wifiLight1. I even tried changing the state to Lights/wifiLight1/state. I cannot force a state message. If I send a set message, I get a state message but I cannot figure out how to get the state message without using a set. The status message doesn't seem to do anything.

[2019-01-09 16:50] brahmafear commented on #49
I don't believe there is a way to query state of device without changing
state of device via MQTT.  A few things might help:

The status topic is just for "online" or "offline".  It is used with MQTT's
last will feature to make an announcement on MQTT topic when the device
isn't connected to MQTT server.

You *could* receive a state update based on the last thing the bulb posted
to its state topic

[2019-01-09 20:20] nospam2k commented on #49
@brahmafear, I understand what you are saying... but, if the bulb experiences a power outage, how do I discover the state of the bulb? If the answer is "there is no way to query the state of the device without changing the state of the device", then I guess I need to switch to using REST, which is fine. I'm just wanting a solid yea or nay on whether the is an MQTT state request like REST.

[2019-01-09 20:55] nospam2k commented on #49
Ok, after digging through the code a bit, I found that if I send <my_set_topic> with a message of {status: true} I can get a state topic without having to actually change the state of the bulb because there is no STATUS command but since it is valid json, it passes the valid json test while passing back all the existing parameters to the MQTT message routine. Technically, you could send any valid

[2019-01-09 22:29] brahmafear commented on #49
Interesting workaround.  Confirmed working for me as well.
I guess I wouldn't trust this for future as a code change might break this functionality.  (Ie, code changed to "only post to state topic if valid, and relevant JSON found in message."

The other answer is that you shouldn't need to query the state of the bulb.  You set the power-on behavior of the bulb in the settings - always on, always

[2019-01-10 00:44] stelgenhof commented on #49
@nospam2k Posting a random/unknown but syntactically correct JSON payload that to the command topic can work indeed. However that is not by design. :)

Regarding to your questions on getting the state of the device, @brahmafear has perfectly explained it. Just the nature of a Publish/Subscribe pattern.
Technically it would be possible to allow for a command ('message') to get the current state of

[2019-01-10 04:28] nickrout commented on #49
The -R option must have been added after the version I have installed on my server. It is on my newer (in terms of ubuntu version) system. Sorry for the noise.

[2019-01-10 05:04] nospam2k commented on #49
Well, if the bulb experiences power loss, the state of the bulb becomes unknown since the Mqtt broker won't know the settings of the bulb. I've designed my own infrastructure using several open source projects to avoid "trusting" unknown servers (ex. Tasmota) and it's nice to have a fail safe means of knowing when something has happened so having a status topic for me is beneficial. Your code was

[2019-01-10 05:04] #49 closed, assigned to nobody

[2019-01-10 11:27] stelgenhof commented on #49
@nospam2k Thanks! Anyway it can always be added if needed/wanted. With these small memory type devices one always must make choices what goes in and what not :)

[2019-01-12 05:03] darkfiberiru commented on #44
Pull request #50 Successful works if following is set in config.h

See notes in pull request

[2019-01-25 06:31] donkawechico opened #51 ""mqtt_json" platform no longer supported by Home Assistant"
AI-Light version: 0.4.1-dev
HA version: 0.86.2

As of HA 0.84, "mqtt_json" is no longer a valid platform:
https://github.com/home-assistant/home-assistant/pull/18227

Since upgrading, I've been unable to use AILight via Home Assistant, and see tons of spam in my logs saying:
![image](https://user-images.githubusercontent.com/1480827/51728942-e1c2d900-2026-11e9-89bc-8023241659a3.png)

Since the err

[2019-01-25 06:53] stelgenhof commented on #51
@donkawechico Thanks for letting me know about this. I haven't upgraded HA myself so, haven't seen it yet. Let me have a look.

[2019-01-25 10:21] brahmafear commented on #51
Correct about change in HomeAssistant but your bulbs should still work (mine do). The mqtt_json platform is deprecated but still accepted. All that is needed in AiLight is a quick change in the discovery message sent. IIRC, the platform is changed from mqtt_json to mqtt and a new key schema=json is added.

[2019-01-25 11:45] stelgenhof commented on #51
From what I can tell from reading the HA PR in question, indeed the mqtt_json is still accepted. So the change should be straightforward.

It will only mean that the AiLight firmware with this change will not work with earlier versions of HA (before 0.84).

[2019-01-25 12:18] SurfingSpider commented on #51
I just did the same change it just needs new documentation.

So in home assistant instead of putting ......

  - **platform: mqtt_json**
    name: 'Master Bedroom'
    state_topic: 'AiLight-2'
    command_topic: 'AiLight-2/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: false
    optimistic: false

you put.....

  - **platform: mqtt
    schema: json**

[2019-01-25 12:29] stelgenhof commented on #51
@SurfingSpider The documentation needs to be changed, but also the firmware. For the HA auto discovery to work, the payload structure needs adjusting.

[2019-01-25 16:28] donkawechico commented on #51
Correct. It's the auto-discovery feature that seems to break with the latest. And all my bulbs are auto-discovered. I could add them all manually, but I have 12 bulbs and, well, I'd just really rather not :P

Thanks for looking into it @stelgenhof!

[2019-01-26 01:45] stelgenhof commented on #51
@donkawechico As said, the change is simple but it will be a breaking change for those not running HA 0.84 yet with this update.

[2019-01-27 05:55] BestEnemies opened #52 "Add Zemismart Downlights to supported devices"
Hi,

Turns out the zemismart downlights here have the same board in them as the AIthinker bulbs. I've had 100% success flashing them with this code.

http://www.zemismart.com/zemismart-au-type-35-inch-wifi-rgbw-led-downlight-10w-voice-control-by-alexa-echo-google-home-assistant-home-automation-ifttt_p0128.html

[2019-01-27 14:57] stelgenhof commented on #52
@BestEnemies Thanks a lot! I've added it to the Wiki page.

[2019-01-27 14:57] #52 closed, assigned to stelgenhof

[2019-01-27 20:03] donkawechico commented on #51
Just curious -- does it necessarily need to break older versions? I'm envisioning something like `LEGACY_PLATFORM = true` in platform.io that switches the variable assignment in light.ino or something (I'm not familiar with the AiLight codebase so maybe that's all nonsense thinking).

I could try putting up a PR that makes that change, if that'd help. But if you already have a solution in the work

[2019-01-28 22:42] donkawechico commented on #51
@stelgenhof Went ahead and whipped up a [PR](https://github.com/stelgenhof/AiLight/pull/53) that (maybe) would resolve this issue with new discovery syntax without breaking lights for users of older HA versions.

It builds locally, but I haven't had a chance to push it to an actual bulb for testing so I'm marking it as "explorational" only.

Could totally be a bad approach, but figured I'd at leas

[2019-01-29 12:12] stelgenhof commented on #51
@donkawechico Thanks! See my comment on the PR

[2019-02-05 14:16] debsahu commented on #51
@stelgenhof See what we are doing here https://github.com/toblum/McLighting/blob/1578cafbf0aee2cbec9e5e1b76be3a6754072837/Arduino/McLighting/request_handlers.h#L1099

We have an issue open https://github.com/toblum/McLighting/issues/327 to address `on_command_type` in discovery message.

[2019-02-05 14:53] stelgenhof commented on #51
@debsahu Thanks for the update. Seems to me you are not following the specs :)

[2019-02-06 00:17] stelgenhof commented on #51
@donkawechico Just made changes that enable the new syntax for Home Assistant 0.84 (or later) and an option for users that are still on Home Assistant 0.84 (or older).

Compiled/tested the code successfully on my side. I only don't have HA < 0.84 so wasn't able to test that. However, the code changes are pretty minimal so the chances of any issues are very slim.

Cheers! Sacha

[2019-02-11 20:39] donkawechico commented on #51
Awesome! Thanks @stelgenhof!

Unrelated side-note, I work at a company under Microsoft, and at our recent hackathon, I presented a light-effects platform I've started that uses MQTT to generate effects on the bulb without having to store in flash. Presented to 100 or so folks and spoke a lot about your firmware -- even brought in a flashed bulb to show it off.

Just thought you might get a kick ou

[2019-02-12 01:39] stelgenhof commented on #51
@donkawechico Thanks! That's so nice to hear :) Hope the audience enjoyed it.

Cheers! Sacha

[2019-02-13 05:54] stelgenhof commented on #39
@badgerhome
After doing some testing regarding the freezing of the firmware, I have made some changes to the platformio.ini configuration. Basically locked down the versions of the ESP8266 framework and a few dependent libraries.

Please adjust the following in your platformio.ini file:
`platform = espressif8266@1.5.0`

[code]

My tests showed some good results. Can you please have try with these

[2019-02-16 05:48] nickrout opened #54 "Impressed all over again"
I have been using AiLight for a while now, in fact I bought one of the original wooden jigs from @stelgenhof.

Recently I wanted to upgrade to the latest code because of the changes since 0.84 of home assistant.

The laptop that I had when I first used AiLight had broken, and with it my install of platformio. Also my jig has a broken wire that will need a soldering iron. It was all looking to hard

[2019-02-16 06:58] stelgenhof commented on #54
Thank you @nickrout for the kind words! Very happy to hear that.

I take a lot of care and detail in creating software and want people that use it have a perfect experience: both in installing, setting up as well in using it. There are many projects/experiments out there that are simply released without proper testing / quality control :)

To be fair, it always is a bit of a (happy) surprise to me

[2019-02-21 13:46] mjoshd commented on #42
Really hoping this makes it into the next update. I have multiple bulbs that I have to manually power cycle any time my AP becomes temporarily unavailable from updating the firmware, power outage, etc; the bulbs go into AP mode and do not automatically reconnect to WiFi when it becomes available again.

[2019-02-21 14:25] stelgenhof commented on #42
@mjoshd At the moment there is no solution yet. I am aware of the issue, however haven't had the time to investigate.

[2019-02-21 15:38] brahmafear commented on #42
Brainstorming a temporary fix :

What about a setting that says a bulb in AP mode should reboot every hour ( or whatever interval ).  That would seem to go be enough time to initially program bulb and would cause this glitch to fix itself at most an hour after WiFi restored.

Not a perfect solution, but might help.

[2019-02-21 16:30] packetinspector commented on #42
Another possibility:

While in AP mode and before the captive portal is hit for the first time, every X seconds do an AP scan.  If the saved wifi network is present, reboot or reinit.

[2019-02-21 23:41] stelgenhof commented on #42
Good suggestions. Let me do a little bit of investigating this weekend. I need to setup  a secondary WiFi network first so I can simulate this properly :)

[2019-02-23 08:34] stelgenhof commented on #42
@lxz81 @packetinspector @badgerhome @nphil
After doing some more research, I've made a small change that may alleviate the issues when your WiFi connection drops.

A new compiler directive was added (WIFI_RECONNECT_TIMEOUT) that you can use to set how long the device needs to try to connecting to your WiFi Access Point. Previously, this time period was not configurable and hard coded to 10 seconds

[2019-02-26 01:34] stelgenhof commented on #51
@donkawechico Would you perhaps mind sharing an example of the light effects you demonstrated at that hackathon? It maybe makes a good practical example for others to see how to use this firmware :)

Cheers! Sacha

[2019-03-27 05:28] darkfiberiru commented on #54
On the limited memory side how do you feel about configurable build for code sections to control memory usage especially for niche features,effects,whichever(don't build in what you don't need) Not expecting you to do it @stelgenhof  Just curious about what you think about that tatic.

[2019-03-28 07:51] stelgenhof commented on #54
@darkfiberiru Absolutely support that! If any feature/functionality can be configurable (within the limits of the memory) then perfect.

One thing that is important is that certain functionality may need to have a UI, so that needs to be included as well. If a feature can be disabled, then the associated UI (if there is) needs to be disabled as well.

Cheers! Sacha

[2019-04-08 06:34] stelgenhof commented on #51
Fixed in the just released version 0.6.0.

[2019-04-08 06:34] #51 closed, assigned to stelgenhof

[2019-04-08 06:35] stelgenhof commented on #43
Included in the just released version 0.6.0.

[2019-04-08 06:35] #43 closed, assigned to stelgenhof

[2019-04-08 06:36] stelgenhof commented on #42
Included the latest changes in the just released version 0.6.0. Please do not hesitate to create a new issue if you feel the issue hasn't been resolved yet.

[2019-04-08 06:36] #42 closed, assigned to stelgenhof

[2019-04-08 06:36] stelgenhof commented on #35
Included in the just released version 0.6.0.

[2019-04-08 06:36] #35 closed, assigned to stelgenhof

[2019-04-08 06:37] stelgenhof commented on #29
Included in the just released version 0.6.0.

[2019-04-08 06:37] #29 closed, assigned to nobody

[2019-04-08 06:37] stelgenhof commented on #27
Included in the just released version 0.6.0.

[2019-04-08 06:37] #27 closed, assigned to stelgenhof

[2019-04-08 06:37] stelgenhof commented on #26
Included in the just released version 0.6.0.

[2019-04-08 06:37] #26 closed, assigned to stelgenhof

[2019-04-08 06:37] stelgenhof commented on #23
Included in the just released version 0.6.0.

[2019-04-08 06:37] #23 closed, assigned to stelgenhof

[2019-04-08 06:38] stelgenhof commented on #24
Included in the just released version 0.6.0.

[2019-04-08 06:38] #24 closed, assigned to stelgenhof

[2019-04-08 06:39] stelgenhof commented on #39
Improvements included in the just released version 0.6.0.

[2019-04-08 06:39] #39 closed, assigned to nobody

[2019-04-09 17:30] donkawechico commented on #51
Happy to, but the code is reeeeally bad :P I was trying too hard to architect something extensible and ended up with a structural mess. I'm going to get back to the project soon, but not sure I'm ready to put my name to it yet ;)

That said, the mess is located here: https://github.com/donkawechico/mqtt-light-effects. Feel free to dig around (and even make suggestions if you like), but please ask

[2019-04-10 03:27] stelgenhof commented on #51
@donkawechico Thanks for sharing! Don't worry it is messy, still we can learn from it :) (No worries, I am not linking it anywhere).

[2019-05-08 13:29] darkfiberiru commented on #44
@stelgenhof  We should be good to resolve this issue.
@crisboarna

[2019-05-09 07:07] stelgenhof commented on #44
@crisboarna The current development branch now supports LOHAS type bulbs (using the M92xx chip) thanks to @darkfiberiru. I don't own such a bulb, so can't do any testing. Therefor please compile the firmware yourself.

There are some minor things still to be done (UI) but it should be useable already.

[2019-05-09 07:07] #44 closed, assigned to nobody

[2019-06-09 13:00] stelgenhof commented on #54
Closing this 'issue' :)

[2019-06-09 13:00] #54 closed, assigned to nobody

[2019-07-11 21:58] hamishfagg opened #56 "AiLight entering config mode when MQTT unreachable"
Hi there,

Occasionally my mqtt server will be unreachable for a period of time due to server restarts/upgrades etc. When this happens AiLight enters config mode (the wifi AP comes up), and it stays like this forever until I restart the AiLight manually for it to reconnect.

Is there a way to stop this behavior? I'd like it to just wait until the server is up.

[2019-07-11 22:05] hamishfagg commented on #56
Come to think of it, I think there are two issues here.

1. Wifi goes down. AiLight reaches `WIFI_RECONNECT_TIMEOUT` and goes into AP mode. I can fix this using this setting.

2. MQTT goes unreachable wtih good wifi and AiLight gets 'stuck' not connected (I have to reboot it). I'm still looking into why this is.

[2019-07-12 12:59] stelgenhof commented on #56
Hi,

Indeed the `WIFI_RECONNECT_TIMEOUT` directive can be set to a value that suits your situation best. I agree that the handling of these situation is not the best, but at the time this was kind of a good compromise :)

As far MQTT goes I haven't had any issues with that (being unavailable), so would need to do some more testing.

If you have some more information (i.e. logs, error messages, etc

[2019-07-16 21:35] hamishfagg commented on #56
Yes I need to test more for the MQTT availability problem. It normally happens when my server crashes which is not often.

P.S. Can I set `WIFI_RECONNECT_TIMEOUT` to 0 for infinite? I tried to see how it's used exactly but couldn't figure it out.

[2019-08-01 07:26] donkawechico opened #57 "Building with VSCode + PlatformIO 4.0 extension gives error: "`.text' will not fit in region `iram1_0_seg'""
**Issue Description:**
After pulling latest AiLight (0.6.1-dev) and installing the PlatformIO extension for vscode (which apparently installs the latest PlatformIO 4.0 version), trying to run the "PlatformIO: Build" command fails with the error:

**AiLight version:** 0.6.1-dev

**IDE:** VSCode 1.36.1 with latest PlatformIO extension

**PlatformIO version:** 4.0

**Verbose Build output**

**OS**: M

[2019-08-01 08:08] donkawechico commented on #57
FWIW, I was able to work around this by:
1. Opening VSCode
2. Cmnd+Shift+P -> PlatformIO: New Terminal
3. In terminal: `pip2.7 uninstall platformio`
4. `pip2.7 install platformio==3.6.7`
5. Rerun the OTA command: `platformio run --target upload --environment "prod-ota" --upload-port=<hostname>`

[2019-08-01 13:21] stelgenhof commented on #57
Thanks! I am aware of this (Just didn't create an issue yet). The issue is indeed with PlatformIO rather than this firmware. To my understanding a fix was made but perhaps not released, so kind of waiting for that.

Your workaround is indeed good: rollback PlatformIO back to a stable version. Perhaps this is something I should enforce in the project.

Cheers! Sacha

[2019-08-01 18:24] donkawechico commented on #57
Hm. As of a couple weeks ago, this is considered a "wontfix" by PlatformIO: https://github.com/platformio/platformio-core/issues/2780

Comment explaining why: https://github.com/arendst/Sonoff-Tasmota/issues/6073#issuecomment-511109803

I see Tasmota has made some changes very recently to platformio.ini to support 4.0:
https://github.com/arendst/Sonoff-Tasmota/commits/development/platformio.ini

P

[2019-08-01 18:33] donkawechico commented on #57
Well by golly, it worked!

Snippit:
[code]

I'll see if I can put up a PR real quick

[2019-08-01 21:09] donkawechico commented on #57
Here's the PR: https://github.com/stelgenhof/AiLight/pull/59.

@stelgenhof, care to give it a shot and see if it builds for you under the latest PlatformIO?

FYI: I didn't check whether this breaks builds for older versions of PlatformIO, like 3.6.7.

[2019-08-02 13:51] stelgenhof commented on #57
Thanks! Merged your PR. Compiled it and works perfectly!

[2019-08-02 13:51] #57 closed, assigned to nobody

[2019-08-15 18:13] donkawechico opened #60 "On router reboot, AILights won't reconnect until I physically unplug/plug back in"
Accidentally hit some hotkey that submitted this issue prematurely.

Turns out, I think it's a duplicate of [issue 56](https://github.com/stelgenhof/AiLight/issues/56) so I'm just going to update there.

[2019-08-15 18:14] #60 closed, assigned to nobody

[2019-08-15 18:34] donkawechico commented on #56
I've been having a very similar-sounding issue ever since updating my firmware (from some 2017 version to 0.61-dev).

When I restart my router, the bulbs show up on my wifi list, and then never reconnect to my router until I do a power cycle.

After the power cycle, they show up with their stock hostnames (e.g. "ESP_2EA955") even though they have custom hostnames in their settings. When I go to "h

[2019-08-17 09:33] stelgenhof commented on #56
@donkawechico Thanks for the update. I haven't experienced it myself. Would be good to any feedback from your tests, so I can see what may go wrong or how to prevent this.

[2019-08-18 04:17] donkawechico commented on #56
@stelgenhof I resolved the WiFi issue by setting the `WIFI_RECONNECT_TIMEOUT` to 180 seconds.

However, the bulbs do indeed appear to have lost their subscription to the MQTT topics, just like @IVData reports.

If I'm reading the [light.ino code](https://github.com/stelgenhof/AiLight/blob/8f937e23c1d49a663f8ddafbe63b073dc51fbc83/src/light.ino#L71) correctly, the bulb sees a `MQTT_EVENT_DISCONNECT`

[2019-08-18 04:29] donkawechico commented on #56
Or perhaps the better solution is for light.ino (or _mqtt.ino?) to listen for the Wifi connected event and resubscribe to its topics?

[2019-08-18 06:04] stelgenhof commented on #56
@donkawechico Thanks for the feedback! Indeed the implementation is a bit crude and apparently doesn't cover the situation when both WiFi and MQTT are not connected. Not so much of a bug but rather a lazy/limited implementation :)

I need to do a bit more testing/investigation on my side. My first thought is that I will need to do some small refactoring; likely will add some kind of retry process

[2019-09-02 18:17] hgelpke opened #61 "Cant use RGB and White LEDs simultaneously in Home Assistant"
Home Assistant separates the RGB values and white values so you can't dial in actual colors on the color wheel without having to then adjust the white value. Is there a way to eliminate that so it's only one picker?

[2019-09-03 12:57] stelgenhof commented on #61
Thanks for the question!

I haven't used Home Assistant lately to be honest, but to my understanding that's how HomeAssistant works. Perhaps it is possible to ignore the white values settings in HA's setup if you do it manually. But I haven't tried that myself.

[2019-09-18 17:38] donkawechico commented on #56
By the way, I think the issue here isn't necessarily (or at least, isn't totally) caused by AILight firmware. I think it may have something to do with MQTT server keepalive timeout expiring before Wifi comes back fully.

That said, I do think AiLight firmware can help the issue by fixing/tweaking the reconnect logic to force back the subscription.

One heavy-handed solution here (if one is hosting

[2019-10-17 16:49] aHcVolle commented on #57
FYI: ESP Async WebServer in version 1.2.3 breaks the build, with version 1.2.2 the build is still working fine

[2019-10-18 04:18] stelgenhof commented on #57
@aHcVolle Thanks for informing. Can you maybe create a separate issue for this?

[2019-10-21 06:20] aHcVolle opened #62 "Build fails with ESP Async Webserver version 1.2.3"
**Issue Description:**
Latest version (master 0.6 or develop 0.6.1-dev) fails to build with

AiLight version: 0.6.x (maybe all?)

Toolchain:
espressif8266                   @ 1.5.0
tool-mkspiffs                   @ 1.102.0
tool-esptool                    @ 1.409.0
tool-espotapy                   @ 1.0.0
framework-arduinoespressif8266  @ 1.20300.1
toolchain-xtensa                @ 1.40802.0

Platfo

[2019-10-21 12:10] stelgenhof commented on #62
Thanks! There seems/was an issue with ESP Async WebServer: https://github.com/me-no-dev/ESPAsyncWebServer/issues/613

And a solution: https://github.com/me-no-dev/ESPAsyncWebServer/pull/617

It seems to be merged in the master branch, but can't see if it has been made part of a release yet.

[2019-11-04 08:39] stelgenhof commented on #62
@aHcVolle As the ESP Async WebServer library still gives issues (no new release/tag available as of yet), I have locked the versions of the ESP* libraries to v1.2.2. These versions are know to work.

Going forward I only going to bump third party libraries if they are proven to work.

Can you pull the latest changes and give the compilation a try? You only need to update your platformio.ini file (

[2019-11-04 09:21] aHcVolle commented on #62
When is was testing around i did exactly the same as you did (I did only lock ESP Async WebServer to 1.2.2 but the other shouldn't make a problem).

I can run a test compile if you really want me to but i guess this shouldn't be neccessary.
Even if i did this i wouldn't test flash the file to my bulbs, i have massive ota problems and don't want to risk to brick them :)

[2019-11-04 12:15] stelgenhof commented on #62
@aHcVolle Don't need to compile if you already figured it out :)
Out of curiosity, your OTA problems are because of this firmware?

[2019-11-04 13:02] aHcVolle commented on #62
I have no idea from where my ota problems are coming...
Since this is the only platformio project I ever used I have no idea how to debug this thing.
I was using ailight 0.5.1-dev (somewhere around beginning of this year) where everything went super smooth.
When I wanted to update to the latest version (since I might have had wifi problems and the bulbs did switch to the blinking mode after a few

[2019-11-05 13:49] stelgenhof commented on #62
Hmmm. I haven't experienced this myself. OTA can indeed be finicky.

As for OpenHAB, yes please! PR's are more than welcome. I'm not using OpenHAB so can't test it myself however.

[2019-11-24 00:51] xbmcnut commented on #35
I would like to implement this too but have HA restart the bulb if it's offline for more than _x_. Is restart via the API possible? I'm running Version 0.6.1-dev.

[2019-11-24 01:43] stelgenhof commented on #35
@xbmcnut Not sure what feature you are referring to. If it is the availability_topic, that is already there. As for the restart via the API (or MQTT), that is currently not possible.

[2019-11-24 02:02] xbmcnut commented on #35
Thanks, appreciate the quick reply. Is restart via HTML URL possible?

[2019-11-24 02:09] stelgenhof commented on #35
Sorry, via the URL neither. The only way is via the Web UI which actually uses WebSockets. At the moment WebSockets would be the only way.

If you feel you'd like to have other options for restarting the device (via REST API, URL, MQTT), I'd suggest to create a new issues (feature request).

Cheers! Sacha

[2019-11-24 02:49] xbmcnut commented on #35
Thanks, will do.

[2019-11-24 02:52] xbmcnut opened #63 "Feature Request: Restart via REST API, URL, MQTT"
Would love to see and option to restart the bulb other than the webpage as occasionally the bulb goes offline due to network or MQTT server maintenance or power failures. The ability to track online status and restart if non-responsive would be greatly appreciated.

[2019-11-26 13:19] yeashen opened #64 "espcomm_upload_mem failed"
I connected my mac with AI-thinker LED, there are some fail when flashing the firmware,

what happend?  I found my AI-thinker flash is 25Q32xxx, the size is 32Mbit(8M Byte).

Processing dev (platform: espressif8266@1.5.0; board: esp8285; framework: arduino)
----------------------------------------------------------------------------------------------------------------------------------------------

[2019-11-26 13:37] stelgenhof commented on #64
This error can be caused by many different things. Wrongly connection, not enough voltage, etc. You may want to have a look at this older issue: https://github.com/esp8266/Arduino/issues/90. The comments give lots of information what may be wrong and how to solve it.

Cheers! Sacha

[2019-11-26 13:59] yeashen commented on #64
OK, I want to know if the difference in the size of flash has an effect?
your code adapts to 8Mbit flash, if my AI-thinker flash size is 32Mbit,
Do I need to modify the platform.ini configure like this:
[code]

[2019-11-27 11:40] yeashen commented on #64
Thanks for your  suggestion, I use Ubuntu OS run platformio run -t upload and at the same time press GPIO0 connect to GND, now It download OK.

[2019-11-27 11:40] #64 closed, assigned to nobody

[2019-11-27 11:44] stelgenhof commented on #64
Correct, to upload firmware the MCU GPIO0 pin needs to be grounded upon start.

[2019-12-06 21:30] darkfiberiru commented on #44
Just for reference
Someone figured out how to safely power lohas bulbs to flash them https://majenko.co.uk/blog/more-esp8266-hacking-lohas-led

[2019-12-13 00:45] nospam2k opened #65 "OTA update over 0.5.1-dev not working on any device"
Not sure if it's just me, but I have 8 light bulbs with 0.5.1-dev that work fine but I can't upgrade to .6 no matter what I do. I've even tried making an OTA stub but the upload fails (as does .6) with various error codes. Sometimes 512, 1024, or longer various strings of numbers. I was able to flash over one bulb using the pins but it's a real hassle as my jig is very finicky and takes a few trie

[2019-12-13 04:24] stelgenhof commented on #65
Could you maybe share a log file that shows some errors or other information?

Thanks! Sacha

[2019-12-13 05:02] nospam2k commented on #65
I gave up and reflashed all of them to .6. I'll leave you to close this if you want.

[2019-12-13 12:38] stelgenhof commented on #65
I would be still interested in the log file. OTA can be finicky so am keen to investigate this.

[2019-12-13 18:16] nospam2k commented on #65
I'm sorry I don't have any log files. I was going to try and setup a test using a 4meg nodemcu. I did get an error on the OTA but it still uploaded and doing 2nd OTA was successful. I think being 4meg helped so maybe a 1meg chip test may show the problem. What ends up happening on the normal wifi light is the OTA errors and the original firmware is still there but the settings are corrupted. MQTT

[2019-12-17 11:39] stelgenhof commented on #65
Understood. Thank you for the file anyway. Not sure when, but will do some testing in the upcoming weeks :)

[2019-12-19 05:48] nospam2k opened #66 "Mqtt commands don't work after Mosquito is restarted"
When I restart Mosquitto, the bulbs no longer respond to MQTT command until I restart the bulbs. Is there something I need to do to resync the bulbs with Mosquito? This is with the latest version of AiLight

[2019-12-19 12:58] stelgenhof commented on #66
Unfortunately this is indeed how it works. See for more details this issue: https://github.com/stelgenhof/AiLight/issues/56

[2019-12-22 15:00] stelgenhof commented on #66
@nospam2k I managed to do some preliminary changes that will check at regular intervals if the connection to the MQTT server is still present.

If you like to try these out, please check the branch https://github.com/stelgenhof/AiLight/tree/feature/mqtt_reconnect and compile/upload this version.
Although I tested it and can confirm it works, be aware that issues may appear.

Cheers! Sacha

[2019-12-22 15:01] stelgenhof commented on #56
Hi all,

I managed to do some preliminary changes that will check at regular intervals if the connection to the MQTT server is still present.

If you like to try these out, please check the branch https://github.com/stelgenhof/AiLight/tree/feature/mqtt_reconnect and compile/upload this version.
Although I tested it and can confirm it works, be aware that issues may appear.

Cheers! Sacha

[2019-12-23 12:33] jcbbas opened #67 "Lights randomly turning on"
Hello, I have been using AiLight for quite some time, great work! Recently I had an issue with with my router not being able to handle the number of devices connected to it and it would crash. I ended up adding the wifi reconnect timeout and ever since, it seems my lights randomly turn on for a few moments, then turn off. I ultimately replaced my router with more/better equipment so the crashing i

[2019-12-23 12:40] stelgenhof commented on #67
Sorry to hear about the issues you have. Can you share maybe what version of the firmware you are using and what your settings are?

Cheers! Sacha

[2019-12-23 13:28] jcbbas commented on #67
Not a problem! I am not entirely sure the whole issue is with your firmware and not my wifi network at this point. Hoping logs from the lights will help determine that!
 Version 0.6.1-dev
From my config.h file
[code]

The firmware shows "power_off" as power up mode, but I do have every light configured to use "As before".
 Looking at my MQTT server logging, it does appear that the light that seems

[2019-12-23 13:39] jcbbas commented on #67
I also just restarted my MQTT broker to turn up log levels, and upon reboot, all the lights came on and went back off. I am half wondering if I need to change optimistic/retain settings. Odd this was not an issue previously though, so I wonder if its tied to the Wifi Reconnect setting I enabled on all lights recently. Or it could simply be Home Assistant giving me headaches as well, and if that do

[2019-12-23 13:41] stelgenhof commented on #67
Thanks! I try to keep the firmware as clean and stable as possible :)

Can't really see anything wrong from your settings. Debugging might be a bit hard, but what I usually do is hook up a cheap ESP8266 board (e.g. LOLIN) that acts as my test board (before uploading to a bulb). If you open up a terminal (connected to USB) you can monitor the output and logs.

As for MQTT, this could be related but

[2019-12-23 13:59] jcbbas commented on #67
"Debugging might be a bit hard, but what I usually do is hook up a cheap ESP8266 board (e.g. LOLIN) that acts as my test board (before uploading to a bulb). If you open up a terminal (connected to USB) you can monitor the output and logs."
I was worried that might be the best /only way! lol
Ill give that a shot on the MQTT reconnect code! I did notice in the past they seem to reconnect a lot, just

[2019-12-23 14:08] stelgenhof commented on #67
Yeah, connecting the bulb to your PC/USB and to the mains at the same time is not really  a good idea :) That's why the ESP8266...

Let me know if you find anything interesting or need more help.

[2019-12-23 18:21] jcbbas commented on #67
Well unfortunately after implementing the code for the MQTT reconnect, I do not see the lights running the code actually connecting to my MQTT broker, so need to figure out what is going on there.

I will say this definitely seems tied to MQTT, every time one of the bulbs reconnect to it, they pop on and turn off. Can watch everything do it at the same time if I reboot the broker.

[2019-12-23 18:44] nospam2k commented on #66
Nice! I'll give it try when I have some free time.

[2019-12-23 19:02] jcbbas commented on #67
I also should have brought up, I went to run build and got errors trying to download the libraries.

I copied the libraries I had from my dev-ota folder to the others, not sure if that will cause issues. Unfortunately I do not know a lot about development in general, but once flashing it back to the AiLight-develop branch with Prod-OTA instead of Dev-OTA, MQTT functionality returned. Looking to se

[2019-12-23 19:58] jcbbas commented on #67
Well odd enough, after flashing the prod-ota of the develop branch.. The odd random turning on is now gone. I can restart the broker over and over and not a single light comes on.  I do still see a good chunk of socket errors etc in my MQTT log, but not sure if that is more of my wifi dropping connections or the lights themselves. In either case, they seem to reconnect without an issue. Still inte

[2019-12-24 00:09] jcbbas commented on #67
So this went away for quite a while, and I noticed it was happening again. So to rule out any issues with my wifi, I have constant pings running to essentially all of my smart bulbs(17 of them, all running AiLight). Thus far, pings have been going without an issue with a random 1 ping timing out here and there. During this time, I see quite a few socket errors on my MQTT broker with the lights.

S

[2019-12-24 00:38] jcbbas commented on #67
Sorry to keep "spamming" this thread. I tried the MQTT - Reconnect branch again, unfortunately it still seems like it will not connect to my broker for whatever reason. After a full reboot of the light, most of the config info is showing blank on the webpage and controlling the light does not seem to work.

Anyways, I still appreciate all the great work you have done! This so far has been rock sol

[2019-12-24 03:40] jcbbas commented on #67
And I think I finally narrowed down the issue. Apparently this is happening when the transition value is specified with turn_off and the MQTT packet has it saved as the state.. This appears to cause the light to come back on then right back off when it reconnects to the MQTT broker. I cleared out these values and put it intentionally on one light. That is the only light that is now coming on when

[2019-12-24 11:56] stelgenhof commented on #67
Thanks for all the details! Definitely not spamming as it is very helpful.

Based on your findings, I indeed think the `mqtt_reconnect` will not help as that addresses a different issue.

When you says 'transition_value' you mean the option to have the lights transition from one color to another? If so, that is something I haven't seen before in combination with MQTT. It is definitely possible fro

[2019-12-24 11:58] stelgenhof commented on #65
@nospam2k Just a small note: Have you tried to do an OTA with a different code/script (a simple blink for example). For OTA to work, the free space needs to equal or more than the current firmware/script. In case it is larger, OTA simply will not work. It may be possible the AiLight firmware is too large :(

[2019-12-24 17:39] nospam2k commented on #65
Yes. In my OP I said I tried making an "OTA stub".

[2019-12-24 20:47] jcbbas commented on #67
Yea that's the one! It's almost like on reconnect, it thinks it has to transition back to off since that is the last state it was in. I also noticed in general, the transition doesn't actually work, the light simply turns off after the set time instead of slowly fading to off. It seems to do this when the color temperature is used instead of the actual RGB values.

In node red, transition is set h

[2019-12-24 20:51] jcbbas commented on #67
Just switched over the light to use the RGB values, and the light does come back on, but then slowly fades to off adhering to the transition value. This happens even if the light is already off, oddly only on the first time I send the request. After that, it seems to ignore it but only the RGB seems to have this behavior.

So I think when using color temp, it just turns off instead of fading off,

[2019-12-25 00:42] stelgenhof commented on #65
@nospam2k Ah yes... you did :)

[2019-12-25 00:48] stelgenhof commented on #67
Thanks for the info! I'll need to make set up things on my side first in order to see if I can reproduce this.

As for the socket errors, there could be many reasons. Often it is the network (WiFi) and also not every ESP8266 modules is the same (different manufacturers). In a forum I read that people fixed socket errors by providing a username/password for the MQTT connection (event though authent

[2019-12-25 04:35] stelgenhof commented on #65
@nospam2k Did some tests with the binary you provided as well as my own code (0.5.1, 0.6, 0.6.1-dev) and was able to do an OTA upload without any issue.

![ota_ailight](https://user-images.githubusercontent.com/529544/71432189-00d85800-271b-11ea-8105-6bc18d2c8ae1.png)

Tested it on a lightbulb as well as on a ESP8266 board. As for the lightbulb, this had 0.5.1-dev installed and I uploaded the late

[2019-12-26 18:48] nospam2k commented on #65
I think, considering the version was older and not even a main branch, it's probably worth just closing this out.

[2019-12-27 05:55] stelgenhof commented on #65
Ok. Thanks! Anyway if you do have some issues again, just create another issue here :)

[2019-12-27 05:55] #65 closed, assigned to nobody

[2019-12-27 12:55] stelgenhof commented on #56
@IVData @donkawechico The 'develop' branch contains new changes that addresses this issue with MQTT. The code is not released yet but will be in the upcoming v0.7 version.

If you have time, would appreciate it if you could give this branch a try.

Cheers! Sacha

[2019-12-27 12:57] stelgenhof commented on #62
@aHcVolle  The 'develop' branch contains new changes that addresses this issue with building the firmware. The code is not released yet but will be in the upcoming v0.7 version.
Issues with the build you experienced where coming from the external ESP8266/Arduino libraries.

If you have time, would appreciate it if you could give this branch a try.

Cheers! Sacha

[2019-12-27 12:59] stelgenhof commented on #66
@nospam2k  The 'develop' branch now contains the latest changes which you may want to use instead. The other `MQTT_Reconnect` branch has been merged into the '`develop`' branch.

Cheers! Sacha

[2019-12-27 17:27] nospam2k commented on #66
I'll try it out after the holidays.

[2019-12-30 01:44] nospam2k commented on #66
Had some time today to try out current dev. Not sure what happened but MQTT isn't working at all. Messages are being passed but nothing happening on the light. Tried just ON and OFF and no response although the web interface is working fine. Reverted back to 0.6.1-dev. Working as before.

[2019-12-30 02:29] stelgenhof commented on #66
@nospam2k Can you change the **INIT_HASH** number in the `main.h` file to some other number? It is on line 72. (e.g change **0x5F** to **0x62**). The number itself doesn't matter as long as it is different.

This number is an internal check for the EEPROM configuration. If your EEPROM doesn't match the firmware code, the light may not work. By changing this code, it will enforce the new config to

[2019-12-30 08:05] nospam2k commented on #66
Tried that. No change, same problem.

[2020-01-01 21:58] hamishfagg commented on #56
@stelgenhof  unfortunately I have the same problem as the guy in #66. MQTT commands dont work at all after the change to dev branch. The webUI does work to turn the light on/change colors though.

EDIT: Just checked in a mqtt client and changing the light through the webUI does not result in any messages being sent to the mqtt server.

[2020-01-02 03:44] stelgenhof commented on #56
@IVData Just made some changes in the 'develop' branch. I could replicate the issue that MQTT wasn't working. Basically a connection to the MQTT broker was never made in the code due to a change I made previously to the order when the connections (WiFi and MQTT) are made. I reverted that and should work now. I tested it on two different bulbs and a ESP8266 module.

[2020-01-02 03:45] stelgenhof commented on #66
@nospam2k  Just made some changes in the 'develop' branch. I could replicate the issue that MQTT wasn't working. Basically a connection to the MQTT broker was never made in the code due to a change I made previously to the order when the connections (WiFi and MQTT) are made. I reverted that and should work now. I tested it on two different bulbs and a ESP8266 module.

[2020-01-02 19:42] donkawechico commented on #56
@stelgenhof Thank you for continuing to work on this issue! I just returned from the holidays, and will try out the dev branch as soon as I have some spare time (which, sadly, is likely about 2 weeks from today).

BTW, adding a "restart" operation to the HTTP api would be super helpful for situations like this. Currently, I have to manually log in to each bulb and click "Restart" when they lose co

[2020-01-02 20:16] hamishfagg commented on #56
@stelgenhof just installed the new version on both of my AiLights and they are working. Btw, src/html.gz.h is now missing, and it wouldn't compile without adding it back in from the older version.

Working for now, I will have to wait for another server issue to test the new features.

[2020-01-03 03:04] stelgenhof commented on #56
@IVData Glad to hear it is working now!

As for the `html.gz.h` it is not in the develop branch of the repository as generally this file needs to be built during the compilation. If this file is missing, it means you haven't installed the NodeJS (NPM) dependencies yet. Just run the following command: `npm install` (or `yarn install`) in your repository folder.

Note that this html.gz.h will for su

[2020-01-14 19:32] erod998 opened #69 "Non MY92xx Driver Support"
I have a [led bulb](https://www.amazon.com/dp/B07RZKV7FQ/ref=psdc_2314207011_t3_B07VCRJ9ZM).
I took the bulb apart and see an ESP, but cannot seem to find a LED driver in the bulb. Can the ESP even drive the LEDs directly?  I have attatched a photo of what the board looks like. Any idea if this bulb can work with AiLight? I have been researching but cannot find any info on this bulb. I believe the

[2020-01-15 12:27] stelgenhof commented on #69
I don't think the ESP chip can drive the LED's without a driver. The chip on the left looks indeed like a Flash storage. Can you provide more pictures from the bottom side and also the other side?

It seems you can easily connect an FTDI adapter to the PCB (4 pin connector). Many LED bulbs have only test points on the PCB.

Cheers! Sacha

[2020-02-03 21:03] donkawechico opened #70 "Should "WIFI_OUTPUT_POWER" match your router's TX power?"
This isn't an issue, but rather a request to add documentation to the wiki for the `WIFI_OUTPUT_POWER` config option -- particularly how to determine the proper value.

For example:
1. In general, should a user set this equal to the transmission power of their router?
2. Are there downsides to setting this value to maximum? (e.g. lessen lifespan of bulb, increased radio interference, etc)
3. Any g

[2020-02-03 21:23] donkawechico commented on #66
**1 week ago**: I completely switched out my home network hardware to Unisys stack, and moved home assistant to a new RPi4. AiBulbs (OLD firmware) appeared fine, but restarting was still making them lose connection, as expected.

**4 days ago**: I set up several WiFi networks (main, guest, IoT, and "NoT" (non-internet devices)). I assigned all bulbs to the "NoT" network. Bulbs continued to work fi

[2020-02-04 13:26] stelgenhof commented on #70
Hi @donkawechico

Not sure if I know all the answers, but this is what I know:

1. No, the WIFI_OUTPUT_POWER is only used for setting the amount of transmission power the module should use. For battery operated devices setting this to the lowest may help in decreasing the energy consumption of the battery
2. Personally I am not aware of any issues with setting this to the highest level. I would su

[2020-02-28 09:55] MatthewCroughan opened #71 "Implement WS2812FX library of effects"
https://github.com/kitesurfer1404/WS2812FX

Since the REST API and MQTT is not realtime none of these lovely effects can be implemented by any means right now. WS2812FX provides a really nice set of ideas, is it possible to port such a thing?

[2020-02-28 12:41] stelgenhof commented on #71
Thank you @MatthewCroughan for the suggestion. Considering that the AiThinker (and similar lightbulbs) do not have LED's that can be individually addressed, the effects that can be ported are limited. Basically you could only do some blinking and fading of the different RGBW(W) channels.

Another challenge is the limited memory these smart bulbs have. An extensive list of effects wouldn't not be p

[2020-02-29 03:21] stelgenhof commented on #67
I've seen this as well now with one of my lights. Still need to understand what's causing this though...

[2020-03-04 01:13] hamishfagg commented on #56
I've been using this new version ever since and I've had a few server hiccups since then. Not a single issue with the lights since the new version.

[2020-03-04 13:08] stelgenhof commented on #56
@IVData Happy to hear that! There are still a few kinks in the new version though :)

[2020-03-05 00:14] #69 closed, assigned to nobody

[2020-03-05 00:14] #61 closed, assigned to nobody

[2020-03-05 00:14] #36 closed, assigned to nobody

[2020-03-05 00:14] #37 closed, assigned to nobody

[2020-03-05 00:14] #15 closed, assigned to stelgenhof

[2020-03-11 00:15] #70 closed, assigned to nobody

[2020-03-27 01:28] donkawechico opened #73 "Using "transition" to turn off a bulb sets rgb to {0,0,0}. Turning back on results in no light."
I'm trying to use `transition` to dim my lights until they're off. Each method I've tried has problems:

MQTT Payload | Result
------------- | -------------
`{ "state": "OFF", "transition": 5 }` | No dimming. Light just turns off after 5 seconds
`{ "brightness": 0, "transition": 5 }` | Dims nicely, but light state remains ON
`{ "state": "OFF", "brightness": 0, "transition": 5 }`| Dims nicely, ligh

[2020-03-27 16:54] donkawechico commented on #73
Just discovered that `{ "state": "ON", "transition": 5 }` also just turns on the light after 5 seconds rather than slowly brightening into its previous brightness.

I suppose my ideal behavior would be:

| MQTT Payload | Behavior (ex: initial brightness=150)
| ---------------- | -------------
| `{ "state": "OFF", "transition": 5 }` | Brightness decreases from 150 to 0 over 5 seconds, bulb state se

[2020-03-27 17:48] donkawechico opened #74 "Feature Request: Add config option to set default transition time"
Would be nice if bulbs could be configured to always transition with some default value set in the config (eventually via UI). Perhaps as "simple" as injecting { ..., `transition: 3`, ... } into each command payload?

For me to do this in Home Assistant, I can't use the wiki's recommended [json schema](https://github.com/stelgenhof/AiLight/wiki/Home-Assistant-Configuration). Instead, I have to use

[2020-03-31 11:24] stelgenhof commented on #73
@donkawechico It has been a while since I implemented this and fit my needs back then. Nevertheless improvements can always be made :)
Definitely doable, just need to find a bit of time to work on that...

Cheers! Sacha

[2020-03-31 11:26] stelgenhof commented on #74
I think this is possible. Just have to be careful that any additional keys added to the JSON payloads do not interfere with Home Assistant.

[2020-04-01 00:31] donkawechico commented on #73
Sure thing. I may take a stab at this as well.

Speaking of which, is there a better way to do local dev testing than to upload the firmware to an actual bulb and seeing if it works? Maybe some kind of arduino emulator?

[2020-04-04 02:56] stelgenhof commented on #63
@xbmcnut I've been working on this (on and off) in the branch `feature/rest-restart-reload`. Not finished yet, but you can check the progress if you like

Cheers! Sacha

[2020-04-04 05:39] xbmcnut commented on #63
Awesome, appreciate the update.

[2020-04-10 00:12] #71 closed, assigned to nobody

[2020-04-10 03:14] nickrout opened #75 "MQTT discovery broken since HA 0.108"
I am running Version 0.6-dev pf AiLight and recently moved to 0.108 of home assistant. My lights no longer work. I suspect this https://github.com/home-assistant/core/pull/32909

The discovery packet sent from the bulb is
[code]

It may be that this is fixed in a later version of AiLight?

[2020-04-10 10:22] stelgenhof commented on #75
Oh! Thanks for letting me know. I haven't looked at HomeAssistant for a while so must have missed that. I will have a look to fix that.

[2020-04-11 23:26] nickrout commented on #75
Looking further, it looks like my bulb firmware must been compiled with MQTT_HOMEASSISTANT_DISCOVERY_PRE_0_84 set true. Looking at src/light.ino and the setup of md_root

[2020-04-13 00:25] stelgenhof commented on #75
@nickrout Have you tried recompiling with MQTT_HOMEASSISTANT_DISCOVERY_PRE_0_84 flag set to `FALSE`?

[2020-04-15 00:35] nickrout commented on #75
My linux laptop with platformio had a collision with the contents of a wineglass and I haven't replicated a platformio setup yet. I'll get on to it.

[2020-04-15 01:35] nickrout commented on #75
@stelgenhof how do I know whether my bulb has OTA enabled, in the absence of the .ini files I compiled with? The bulbs don't respond to a telnet to post 8266 and nmap only shows one  port open - 80.

[2020-04-15 12:30] stelgenhof commented on #75
@nickrout I don't know any other way to know that. Telnet will not work as the firmware doesn't run a telnet server. I had the same issue once and just reflashed the firmware directly.

[2020-04-23 16:57] aHcVolle commented on #62
I just wanted to update my devices (was on 0.61-dev before) and ota did work without any problems. Either this was already fixed in 0.61 or i had some network problems which somehow got resolved by now ....

[2020-04-23 16:57] #62 closed, assigned to nobody

[2020-05-02 13:49] aut0 opened #77 "Add MagicHome LED Light Bulb to Unsupported devices"
Sadly, it contains an Broadlink BL335T-P controller.

[2020-05-02 14:56] stelgenhof commented on #77
Thanks @aut0 ! I have updated the Wiki page.

[2020-05-02 14:56] #77 closed, assigned to nobody

[2020-05-31 02:12] stelgenhof commented on #67
Can confirm this happens but very infrequently.

[2020-08-06 15:50] nospam2k opened #79 "Bulbs revert to Wifi AP or MQTT fails if router takes too long to reboot"
My router takes about 2 1/2 minutes to reboot. When this happens, I have to go around the house and power cycle all my AiLights. Eight the lights restart as AP or MQTT will not reconnect. Is it possible to add a retry like every two minutes or so?

[2020-09-07 20:37] donkawechico commented on #73
I've started taking a look at this again, btw.

I tried changing it to gradually decrease _brightness_ to 0 instead of decreasing _color_ to {0,0,0}, but this just creates the same problem in a different place -- that is, brightness gets set to "0", so when I turn back to ON, the bulb will still be brightness of 0 and not light up.

Here's a Draft PR where you can follow the progress: https://gith

[2020-09-10 10:53] stelgenhof commented on #73
Thanks! @donkawechico Let me have a look at it tomorrow.

[2020-09-10 15:33] donkawechico commented on #73
Sure thing, but not much there at the moment. Still need to think of a way to restore previous brightness

[2020-10-28 01:03] #79 closed, assigned to nobody

[2020-11-06 00:40] #75 closed, assigned to stelgenhof

[2020-11-21 00:42] #73 closed, assigned to nobody

[2020-12-13 00:56] #67 closed, assigned to nobody

[2020-12-13 00:56] #74 closed, assigned to nobody

[2021-01-09 18:10] domeOo commented on #75
I think I have the same issue.

[2021-08-22 06:55] stelgenhof commented on #56
Closing as considered resolved in v1.0.0

[2021-08-22 06:55] #56 closed, assigned to nobody

[2021-08-22 06:56] #63 closed, assigned to nobody

[2021-08-22 06:56] stelgenhof commented on #66
Closing as considered resolved in v1.0.0

[2021-08-22 06:56] #66 closed, assigned to nobody